<?xml version="1.0" encoding="UTF-8"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{groupId}}</groupId>
  <artifactId>{{artifactId}}</artifactId>
  <version>{{artifactVersion}}</version>
  <dependencies>
    <dependency>
      <groupId>io.swagger</groupId>
      <artifactId>swagger-annotations</artifactId>
      <version>${swagger-annotations-version}</version>
    </dependency>
    <dependency>
      <groupId>androidx.annotation</groupId>
      <artifactId>annotation</artifactId>
      <version>1.2.0</version>
    </dependency>
    <dependency>
      <groupId>org.apache.httpcomponents</groupId>
      <artifactId>httpmime</artifactId>
      <version>${httpcomponents-httpmime-version}</version>
    </dependency>
    <dependency>
      <groupId>com.google.code.gson</groupId>
      <artifactId>gson</artifactId>
      <version>${google-code-gson-version}</version>
    </dependency>
    <dependency>
      <groupId>io.gsonfire</groupId>
      <artifactId>gson-fire</artifactId>
      <version>${gson-fire-version}</version>
    </dependency>
    <dependency>
      <groupId>com.squareup.okio</groupId>
      <artifactId>okio</artifactId>
      <version>${okio-version}</version>
    </dependency>
    <dependency>
      <groupId>com.mcxiaoke.volley</groupId>
      <artifactId>library</artifactId>
      <version>${volley-library-version}</version>
    </dependency>
    {{#threetenbp}}
    <dependency>
        <groupId>org.threeten</groupId>
        <artifactId>threetenbp</artifactId>
        <version>${threetenbp-version}</version>
    </dependency>
    {{/threetenbp}}
    <dependency>
        <groupId>com.google.android</groupId>
        <artifactId>android</artifactId>
        <version>${android-platform-version}</version>
    </dependency>
    <!-- test dependencies -->
    <dependency>
        <groupId>org.mockito</groupId>
        <artifactId>mockito-all</artifactId>
        <version>${mockito-all.version}</version>
        <scope>test</scope>
    </dependency>
    <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>${junit.version}</version>
        <scope>test</scope>
    </dependency>
  </dependencies>
  <repositories>
    <repository>
        <id>google</id>
        <url>https://maven.google.com</url>
    </repository>
</repositories>
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>3.8.1</version>
        <configuration>
          <source>{{#java8}}1.8{{/java8}}{{^java8}}1.7{{/java8}}</source>
          <target>{{#java8}}1.8{{/java8}}{{^java8}}1.7{{/java8}}</target>
        </configuration>
      </plugin>
    </plugins>
  </build>
  <properties>
    <swagger-annotations-version>1.5.8</swagger-annotations-version>
    <httpcomponents-httpmime-version>4.3.6</httpcomponents-httpmime-version>
    <google-code-gson-version>2.8.6</google-code-gson-version>
    <gson-fire-version>1.8.4</gson-fire-version>
    <okio-version>2.10.0</okio-version>
    <volley-library-version>1.0.19</volley-library-version>
    <threetenbp-version>1.4.3</threetenbp-version>
    <android-platform-version>4.1.1.4</android-platform-version>
    <mockito-all.version>1.10.19</mockito-all.version>
    <junit.version>4.13.2</junit.version>
  </properties>
</project>
