openapi: 3.0.0
info:
  title: api.video
  description: >-
    api.video is an API that encodes on the go to facilitate immediate playback,
    enhancing viewer streaming experiences across multiple devices and
    platforms. You can stream live or on-demand online videos within minutes.
  version: '1'
servers:
  - url: 'https://ws.api.video'
paths:
  /auth/api-key:
    post:
      tags:
        - Authentication
      summary: Authenticate
      description: >-
        To get started, submit your API key in the body of your request.
        api.video returns an access token that is valid for one hour (3600
        seconds). A refresh token is also returned. View a
        [tutorial](https://api.video/blog/tutorials/authentication-tutorial) on
        authentication.
      operationId: POST_auth-api-key
      x-client-action: authenticate
      x-client-hidden: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticate-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access-token'
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: >-
                      eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: >-
                      def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    type: >-
                      https://docs.api.video/docs/authenticationinvalid_credentials
                    title: The user credentials were incorrect.
                    name: ''
                    status: 400
  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh token
      description: >
        Use the refresh endpoint with the refresh token you received when you
        first authenticated using the api-key endpoint. Send the refresh token
        in the body of your request. The api.video API returns a new access
        token that is valid for one hour (3600 seconds) and a new refresh
        token. 
      operationId: POST_auth-refresh
      x-client-action: refresh
      x-client-hidden: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refresh-token-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access-token'
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: >-
                      eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: >-
                      def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    status: 400
                    type: >-
                      https://docs.api.video/docs/authenticationinvalid_credentials
                    title: The user credentials were incorrect.
                    name: ''
  /videos:
    get:
      tags:
        - Videos
      summary: List all videos
      description: >-
        Requests to this endpoint return a list of your videos (with all their
        details). With no parameters added to this query, the API returns all
        videos. You can filter what videos the API returns using the parameters
        described below.
      operationId: LIST-videos
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      parameters:
        - name: title
          in: query
          description: >-
            The title of a specific video you want to find. The search will
            match exactly to what term you provide and return any videos that
            contain the same term as part of their titles.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: My Video.mp4
        - name: tags
          in: query
          description: >-
            A tag is a category you create and apply to videos. You can search
            for videos with particular tags by listing one or more here. Only
            videos that have all the tags you list will be returned.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          example: '"tags": ["captions", "dialogue"]'
        - name: metadata
          in: query
          description: >-
            Videos can be tagged with metadata tags in key:value pairs. You can
            search for videos with specific key value pairs using this
            parameter.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          example: >-
            [{"key":"Author", "value":"John Doe"}, {"key":"Format",
            "value":"Tutorial"}]
        - name: description
          in: query
          description: >-
            If you described a video with a term or sentence, you can add it
            here to return videos containing this string.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: New Zealand
        - name: liveStreamId
          in: query
          description: >-
            If you know the ID for a live stream, you can retrieve the stream by
            adding the ID for it here.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: li400mYKSgQ6xs7taUeSaEKr
        - name: sortBy
          in: query
          description: >-
            Allowed: publishedAt, title. You can search by the time videos were
            published at, or by title.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: publishedAt
        - name: sortOrder
          in: query
          description: >-
            Allowed: asc, desc. asc is ascending and sorts from A to Z. desc is
            descending and sorts from Z to A.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: asc
        - $ref: '#/components/parameters/currentPage'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/videos-list-response'
              examples:
                response:
                  value:
                    data:
                      - videoId: vi4k0jvEUuaTdRAEjQ4Prklg
                        playerId: pl45KFKdlddgk654dspkze
                        title: Maths video
                        description: An amazing video explaining the string theory
                        public: false
                        panoramic: false
                        mp4Support: true
                        tags:
                          - maths
                          - string theory
                          - video
                        metadata:
                          - key: Author
                            value: John Doe
                          - key: Format
                            value: Tutorial
                        publishedAt: '2019-12-16T08:25:51+00:00'
                        updateddAt: '2019-12-16T08:48:49+00:00'
                        source:
                          uri: /videos/c188ed58-3403-46a2-b91b-44603d10b2c9/source
                        assets:
                          iframe: >-
                            <iframe
                            src="//embed.api.video/c188ed58-3403-46a2-b91b-44603d10b2c9?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                            width="100%" height="100%" frameborder="0"
                            scrolling="no" allowfullscreen=""></iframe>
                          player: >-
                            https://embed.api.video/c188ed58-3403-46a2-b91b-44603d10b2c9?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                          hls: >-
                            https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                          thumbnail: >-
                            https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                          mp4: >-
                            https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfrgz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4
                      - videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                        title: Video Title
                        description: A description for your video.
                        public: false
                        panoramic: false
                        mp4Support: true
                        tags:
                          - books
                          - short stories
                        metadata:
                          - key: Author
                            value: John Doe
                          - key: Science Fiction
                            value: Cyberpunk
                          - key: Technology
                            value: Computers
                        publishedAt: '2019-12-16T08:25:51+00:00'
                        updateddAt: '2019-12-16T08:48:49+00:00'
                        source:
                          uri: /videos/1b9d6ae8-8f57-4b6d-8552-d636926b4f5f/source
                        assets:
                          iframe: >-
                            <iframe
                            src="//embed.api.video/1b9d6ae8-8f57-4b6d-8552-d636926b4f5f?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                            width="100%" height="100%" frameborder="0"
                            scrolling="no" allowfullscreen=""></iframe>
                          player: >-
                            https://embed.api.video/1b9d6ae8-8f57-4b6d-8552-d636926b4f5f?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                          hls: >-
                            https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                          thumbnail: >-
                            https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                      - videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                        playerId: pl45KFKdlddgk654dspkze
                        title: My Video Title
                        description: A brief description of the video.
                        public: false
                        panoramic: false
                        mp4Support: true
                        tags:
                          - General
                          - Videos
                        metadata:
                          - key: Length
                            value: Short
                        publishedAt: '2019-12-16T08:25:51+00:00'
                        updateddAt: '2019-12-16T08:48:49+00:00'
                        source:
                          uri: /videos/73129412-e320-4b93-99f6-59a85e3cedcd/source
                        assets:
                          iframe: >-
                            <iframe
                            src="//embed.api.video/73129412-e320-4b93-99f6-59a85e3cedcd?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                            width="100%" height="100%" frameborder="0"
                            scrolling="no" allowfullscreen=""></iframe>
                          player: >-
                            https://embed.api.video/73129412-e320-4b93-99f6-59a85e3cedcd?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                          hls: >-
                            https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                          thumbnail: >-
                            https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 11
                      currentPageItems: 11
                      links:
                        - rel: self
                          uri: 'https://ws.api.video/videos?currentPage=1'
                        - rel: first
                          uri: 'https://ws.api.video/videos?currentPage=1'
                        - rel: last
                          uri: 'https://ws.api.video/videos?currentPage=1'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    title: This parameter is out of the allowed range of values.
                    name: page
                    status: 400
                    range:
                      min: 1
                    problems:
                      - title: This parameter is out of the allowed range of values.
                        name: page
                        range:
                          min: 1
                      - title: This parameter is out of the allowed range of values.
                        name: pageSize
                        range:
                          min: 10
                          max: 100
      security:
        - bearerAuth: []
    post:
      tags:
        - Videos
      summary: Create a video
      description: >
        To create a video, you create its metadata first, before adding the
        video file (exception - when using an existing HTTP source).


        Videos are public by default. Mp4 encoded versions are created at the
        highest quality (max 1080p) by default.
         ```shell
        $ curl https://ws.api.video/videos \

        -H 'Authorization: Bearer {access_token} \

        -d '{"title":"My video", 
             "description":"so many details",
             "mp4Support":true
        }'

        ```


        ### Creating a hosted video 


        You can also create a video directly from one hosted on a third-party
        server by giving its URI in `source` parameter:


        ```shell

        $ curl https://ws.api.video/videos \

        -H 'Authorization: Bearer {access_token} \

        -d '{"source":"http://uri/to/video.mp4", "title":"My video"}'

        ```


        In this case, the service will respond `202 Accepted` and download the
        video asynchronously.

         We have tutorials on:
        * [Creating and uploading
        videos](https://api.video/blog/tutorials/video-upload-tutorial)

        * [Uploading large
        videos](https://api.video/blog/tutorials/video-upload-tutorial-large-videos)

        * [Using tags with
        videos](https://api.video/blog/tutorials/video-tagging-best-practices)

        * [Private
        videos](https://api.video/blog/tutorials/tutorial-private-videos)
      operationId: POST-video
      x-client-action: create
      requestBody:
        description: video to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-create-payload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl4k0jvEUuaTdRAEjQ4Jfrgz
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '4665-07-14T23:36:18.598Z'
                    source:
                      uri: /videos/vi4k0jvEUuaTdRAEjQ4Jfrgz/source
                    assets:
                      iframe: >-
                        <iframe
                        src="//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: >-
                        https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                      hls: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                      thumbnail: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                      mp4: >-
                        https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfrgz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/attributerequired'
                    title: This attribute is required.
                    name: title
                    status: 400
                    problems:
                      - type: 'https://docs.api.video/docs/attributerequired'
                        title: This attribute is required.
                        name: title
                      - type: 'https://docs.api.video/docs/attributeinvalid'
                        title: This attribute must be a ISO8601 date.
                        name: scheduledAt
                      - type: 'https://docs.api.video/docs/attributeinvalid'
                        title: This attribute must be an array.
                        name: tags
                      - type: 'https://docs.api.video/docs/attributeinvalid'
                        title: This attribute must be an array.
                        name: metadata
      security:
        - bearerAuth: []
  '/videos/{videoId}/source':
    post:
      tags:
        - Videos
      summary: Upload a video
      description: >-
        To upload a video to the videoId you created. Replace {videoId} with the
        id you'd like to use, {access_token} with your token, and
        /path/to/video.mp4 with the path to the video you'd like to upload. You
        can only upload your video to the videoId once.


        ```bash

        curl https://ws.api.video/videos/{videoId}/source \
          -H 'Authorization: Bearer {access_token}' \
          -F file=@/path/to/video.mp4
          ```
      operationId: POST_videos-videoId-source
      x-client-action: upload
      x-client-chunk-upload: true
      parameters:
        - name: videoId
          in: path
          description: Enter the videoId you want to use to upload your video.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        - name: Content-Range
          in: header
          description: >-
            Content-Range represents the range of bytes that will be returned as
            a result of the request. Byte ranges are inclusive, meaning that
            bytes 0-999 represents the first 1000 bytes in a file or object.
          required: false
          x-client-ignore: true
          style: simple
          explode: false
          schema:
            pattern: '^bytes [0-9]*-[0-9]*\/[0-9]*$'
            type: string
          example: 'Content-Range: bytes 200-100/5000'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-upload-payload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                    title: Maths video
                    description: An amazing video explaining the string theory.
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl45KFKdlddgk654dspkze
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '4665-07-14T23:36:18.598Z'
                    source:
                      uri: /videos/vi4k0jvEUuaTdRAEjQ4Jfrgz/source
                    assets:
                      iframe: >-
                        <iframe
                        src="//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: >-
                        https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                      hls: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                      thumbnail: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                      mp4: >-
                        https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfrgz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/filealreadyuploaded'
                    title: The source of the video is already uploaded.
                    name: file
                    status: 400
                    problems:
                      - type: 'https://docs.api.video/docs/filealreadyuploaded'
                        title: The source of the video is already uploaded.
                        name: file
                      - type: 'https://docs.api.video/docs/filealreadyuploaded'
                        title: The video xxxx has already been uploaded.
                        name: video
                      - type: 'https://docs.api.video/docs/filemissing'
                        title: There is no uploaded file in the request.
                        name: file
                      - type: 'https://docs.api.video/docs/multiplefilesuploaded'
                        title: There is more than one uploaded file in the request.
                        name: file
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
      security:
        - bearerAuth: []
  '/videos/{videoId}/thumbnail':
    post:
      tags:
        - Videos
      summary: Upload a thumbnail
      description: >-
        In creating a thumbnail, you may either upload an image, or you can pick
        a time in the video to be used as thumbnail. This endpoint is for
        uploading an image. Use [Pick a
        Thumbnail](https://docs.api.video/reference#patch_videos-videoid-thumbnail)
        to pick a time in the video. There may be a short delay before the new
        thumbnail is delivered to our CDN.
      operationId: POST_videos-videoId-thumbnail
      x-client-action: uploadThumbnail
      parameters:
        - name: videoId
          in: path
          description: 'Unique identifier of the chosen video '
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-thumbnail-upload-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    scheduledAt: '2020-03-03T12:52:03.085Z'
                    publishedAt: '2020-07-14T23:36:18.598Z'
                    source:
                      uri: /videos/vi4k0jvEUuaTdRAEjQ4Jfrgz/source
                    assets:
                      iframe: >-
                        <iframe
                        src="//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: >-
                        https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                      hls: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                      thumbnail: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                      mp4: >-
                        https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfrgz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    status: 400
                    type: 'https://docs.api.video/docs/fileextension'
                    title: 'Only [jpeg, jpg, JPG, JPEG] extensions are supported.'
                    name: file
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
      security:
        - bearerAuth: []
    patch:
      tags:
        - Videos
      summary: Pick a thumbnail
      description: >-
        Pick a thumbnail from the given time code. If you'd like to upload an
        image for your thumbnail, use the [Upload a
        Thumbnail](https://docs.api.video/reference#post_videos-videoid-thumbnail)
        endpoint. There may be a short delay for the thumbnail to update.
      operationId: PATCH_videos-videoId-thumbnail
      x-client-action: pickThumbnail
      parameters:
        - name: videoId
          in: path
          description: >-
            Unique identifier of the video you want to add a thumbnail to, where
            you use a section of your video as the thumbnail.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-thumbnail-pick-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '4665-07-14T23:36:18.598Z'
                    source:
                      uri: /videos/vi4k0jvEUuaTdRAEjQ4Jfrgz/source
                    assets:
                      iframe: >-
                        <iframe
                        src="//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: >-
                        https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                      hls: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                      thumbnail: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                      mp4: >-
                        https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfrgz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
      security:
        - bearerAuth: []
  '/videos/{videoId}':
    get:
      tags:
        - Videos
      summary: Show a video
      description: >-
        This call provides the same JSON information provided on video creation.
        For private videos, it will generate a unique token url. Use this to
        retrieve any details you need about a video, or set up a private viewing
        URL.
      operationId: GET-video
      x-client-action: get
      parameters:
        - name: videoId
          in: path
          description: The unique identifier for the video you want details about.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '2019-12-16T08:25:51+00:00'
                    updateddAt: '2019-12-16T08:48:49+00:00'
                    source:
                      uri: /videos/vi4k0jvEUuaTdRAEjQ4Jfrgz/source
                    assets:
                      iframe: >-
                        <iframe
                        src="//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: >-
                        https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                      hls: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                      thumbnail: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                      mp4: >-
                        https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfrgz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
      security:
        - bearerAuth: []
    delete:
      tags:
        - Videos
      summary: Delete a video
      description: >-
        If you do not need a video any longer, you can send a request to delete
        it. All you need is the videoId.
      operationId: DELETE-video
      x-client-action: delete
      parameters:
        - name: videoId
          in: path
          description: The video ID for the video you want to delete.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
      security:
        - bearerAuth: []
    patch:
      tags:
        - Videos
      summary: Update a video
      description: >-
        Use this endpoint to update the parameters associated with your video.
        The video you are updating is determined by the video ID you provide in
        the path. For each parameter you want to update, include the update in
        the request body. NOTE: If you are updating an array, you must provide
        the entire array as what you provide here overwrites what is in the
        system rather than appending to it.
      operationId: PATCH-video
      x-client-action: update
      parameters:
        - name: videoId
          in: path
          description: The video ID for the video you want to delete.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-update-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '2019-12-16T08:25:51+00:00'
                    updatedAt: '2019-12-16T08:48:49+00:00'
                    source:
                      uri: /videos/vi4k0jvEUuaTdRAEjQ4Jfrgz/source
                    assets:
                      iframe: >-
                        <iframe
                        src="//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: >-
                        https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                      hls: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                      thumbnail: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
                      mp4: >-
                        https://cdn.api.video/vod/vi4k0jvEUuaTdRAEjQ4Jfrgz/token/8fd70443-d9f0-45d2-b01c-12c8cfc707c9/mp4/720/source.mp4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/attributeinvalid'
                    title: This attribute must be a ISO-8601 date.
                    name: scheduledAt
                    status: 400
                    problems:
                      - type: 'https://docs.api.video/docs/attributeinvalid'
                        title: This attribute must be a ISO-8601 date.
                        name: scheduledAt
                      - type: 'https://docs.api.video/docs/attributeinvalid'
                        title: This attribute must be an array.
                        name: tags
                      - type: 'https://docs.api.video/docs/attributeinvalid'
                        title: This attribute must be an array.
                        name: metadata
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
      security:
        - bearerAuth: []
  '/videos/{videoId}/status':
    get:
      tags:
        - Videos
      summary: Show video status
      description: >-
        This API provides upload status & encoding status to determine when the
        video is uploaded or ready to playback.


        Once encoding is completed, the response also lists the available stream
        qualities.
      operationId: GET-video-status
      x-client-action: getVideoStatus
      parameters:
        - name: videoId
          in: path
          description: The unique identifier for the video you want the status for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/videostatus'
              examples:
                response:
                  value:
                    ingest:
                      status: uploaded
                      filesize: 273579401
                      receivedBytes:
                        - to: 134217727
                          from: 0
                          total: 273579401
                        - to: 268435455
                          from: 134217728
                          total: 273579401
                        - to: 273579400
                          from: 268435456
                          total: 273579401
                    encoding:
                      playable: true
                      qualities:
                        - quality: 360p
                          status: encoded
                        - quality: 480p
                          status: encoded
                        - quality: 720p
                          status: encoded
                        - quality: 1080p
                          status: encoding
                        - quality: 2160p
                          status: waiting
                      metadata:
                        width: 424
                        height: 240
                        bitrate: 411.218
                        duration: 4176
                        framerate: 24
                        samplerate: 48000
                        videoCodec: h264
                        audioCodec: aac
                        aspectRatio: 16/9
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
      security:
        - bearerAuth: []
  /upload-tokens:
    get:
      tags:
        - Videos - Delegated upload
      summary: List all active upload tokens.
      description: >-
        A delegated token is used to allow secure uploads without exposing your
        API key. Use this endpoint to retrieve a list of all currently active
        delegated tokens.
      operationId: GET_upload-tokens
      x-group-parameters: true
      x-client-paginated: true
      x-client-action: listTokens
      parameters:
        - name: sortBy
          in: query
          description: >-
            Allowed: createdAt, ttl. You can use these to sort by when a token
            was created, or how much longer the token will be active (ttl - time
            to live). Date and time is presented in ISO-8601 format.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - createdAt
              - ttl
          example: ttl
        - name: sortOrder
          in: query
          description: >-
            Allowed: asc, desc. Ascending is 0-9 or A-Z. Descending is 9-0 or
            Z-A.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - $ref: '#/components/parameters/currentPage'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token-list-response'
              examples:
                response:
                  value:
                    data:
                      - token: to37YfoPDRR2pcDKa6LsUE0M
                        ttl: 3600
                        createdAt: '2020-12-02T10:26:46+00:00'
                        expiresAt: '2020-12-02T11:26:46+00:00'
                      - token: to1W3ZS9PdUBZWzzTEZr1B79
                        ttl: 0
                        createdAt: '2020-12-02T10:26:28+00:00'
                        expiresAt: null
                    pagination:
                      currentPage: 1
                      currentPageItems: 2
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 2
                      links:
                        - rel: self
                          uri: /upload-tokens?currentPage=1&pageSize=25
                        - rel: first
                          uri: /upload-tokens?currentPage=1&pageSize=25
                        - rel: last
                          uri: /upload-tokens?currentPage=1&pageSize=25
      security:
        - bearerAuth: []
    post:
      tags:
        - Videos - Delegated upload
      summary: Generate an upload token
      description: >-
        Use this endpoint to generate an upload token. You can use this token to
        authenticate video uploads while keeping your API key safe.
      operationId: POST_upload-tokens
      x-client-action: createToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/token-create-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upload-token'
              examples:
                response:
                  value:
                    token: to1tcmSFHeYY5KzyhOqVKMKb
                    ttl: 3600
                    createdAt: '2020-12-02T10:13:19+00:00'
                    expiresAt: '2020-12-02T11:13:19+00:00'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
      security:
        - bearerAuth: []
  '/upload-tokens/{uploadToken}':
    get:
      tags:
        - Videos - Delegated upload
      summary: Show upload token
      description: >-
        You can retrieve details about a specific upload token if you have the
        unique identifier for the upload token. Add it in the path of the
        endpoint. Details include time-to-live (ttl), when the token was
        created, and when it will expire.
      operationId: GET_upload-tokens-uploadToken
      x-client-action: getToken
      parameters:
        - name: uploadToken
          in: path
          description: The unique identifier for the token you want information about.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: to1tcmSFHeYY5KzyhOqVKMKb
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upload-token'
              examples:
                response:
                  value:
                    token: to1tcmSFHeYY5KzyhOqVKMKb
                    ttl: 0
                    createdAt: '2020-12-02T10:13:19+00:00'
                    expiresAt: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
    delete:
      tags:
        - Videos - Delegated upload
      summary: Delete an upload token
      description: >-
        Delete an existing upload token. This is especially useful for tokens
        you may have created that do not expire.
      operationId: DELETE_upload-tokens-uploadToken
      x-client-action: deleteToken
      parameters:
        - name: uploadToken
          in: path
          description: >-
            The unique identifier for the upload token you want to delete.
            Deleting a token will make it so the token can no longer be used for
            authentication.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: to1tcmSFHeYY5KzyhOqVKMKb
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
  /upload:
    post:
      tags:
        - Videos - Delegated upload
      summary: Upload with an upload token
      description: "When given a token, anyone can upload a file to the URI `https://ws.api.video/upload?token=<tokenId>`.\n\nExample with cURL:\n\n```curl\n$ curl  --request POST --url 'https://ws.api.video/upload?token=toXXX'\n --header 'content-type: multipart/form-data'\n -F file=@video.mp4\n```\n\nOr in an HTML form, with a little JavaScript to convert the form into JSON:\n```html\n<!--form for user interaction-->\n<form name=\"videoUploadForm\" >\n  <label for=video>Video:</label>\n  <input type=file name=source/><br/>\n  <input value=\"Submit\" type=\"submit\">\n</form>\n<div></div>\n<!--JS takes the form data \n    uses FormData to turn the response into JSON.\n    then uses POST to upload the video file.\n    Update the token parameter in the url to your upload token.\n    -->\n<script>\n   var form = document.forms.namedItem(\"videoUploadForm\");\t\n   form.addEventListener('submit', function(ev) {\n\t ev.preventDefault();\n     var oOutput = document.querySelector(\"div\"),\n         oData = new FormData(form);\n     var oReq = new XMLHttpRequest();\n\t \n     oReq.open(\"POST\", \"https://ws.api.video/upload?token=toXXX\", true);\n     oReq.send(oData);\n\t oReq.onload = function(oEvent) {\n       if (oReq.status ==201) {\n         oOutput.innerHTML = \"Your video is uploaded!<br/>\"  + oReq.response;\n       } else {\n         oOutput.innerHTML = \"Error \" + oReq.status + \" occurred when trying to upload your file.<br \\/>\";\n       }\n     };\n   }, false);\t\n</script>\n```\n\n\n### Dealing with large files\n\nWe have created a <a href='https://api.video/blog/tutorials/uploading-large-files-with-javascript'>tutorial</a> to walk through the steps required."
      operationId: POST_upload
      x-client-action: upload
      x-client-chunk-upload: true
      parameters:
        - name: token
          in: query
          description: >-
            The unique identifier for the token you want to use to upload a
            video.
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: to1tcmSFHeYY5KzyhOqVKMKb
        - name: Content-Range
          in: header
          description: >-
            Content-Range represents the range of bytes that will be returned as
            a result of the request. Byte ranges are inclusive, meaning that
            bytes 0-999 represents the first 1000 bytes in a file or object.
          required: false
          x-client-ignore: true
          style: simple
          explode: false
          schema:
            pattern: '^bytes [0-9]*-[0-9]*\/[0-9]*$'
            type: string
          example: 'Content-Range: bytes 200-100/5000'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/token-upload-payload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4k0jvEUuaTdRAEjQ4Jfrgz
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '4665-07-14T23:36:18.598Z'
                    source:
                      uri: /videos/vi4k0jvEUuaTdRAEjQ4Jfrgz/source
                    assets:
                      iframe: >-
                        <iframe
                        src="//embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: >-
                        https://embed.api.video/vi4k0jvEUuaTdRAEjQ4Jfrgz?token=831a9bd9-9f50-464c-a369-8e9d914371ae
                      hls: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/hls/manifest.m3u8
                      thumbnail: >-
                        https://cdn.api.video/stream/831a9bd9-9f50-464c-a369-8e9d914371ae/thumbnail.jpg
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
      security: []
  /live-streams:
    get:
      tags:
        - Live
      summary: List all live streams
      description: >-
        With no parameters added to the url, this will return all livestreams.
        Query by name or key to limit the list.
      operationId: GET_live-streams
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      parameters:
        - name: streamKey
          in: query
          description: The unique stream key that allows you to stream videos.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: 30087931-229e-42cf-b5f9-e91bcc1f7332
        - name: name
          in: query
          description: You can filter live streams by their name or a part of their name.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: My Video
        - name: sortBy
          in: query
          description: >-
            Allowed: createdAt, publishedAt, name. createdAt - the time a
            livestream was created using the specified streamKey. publishedAt -
            the time a livestream was published using the specified streamKey.
            name - the name of the livestream. If you choose one of the time
            based options, the time is presented in ISO-8601 format.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: createdAt
        - name: sortOrder
          in: query
          description: >-
            Allowed: asc, desc. Ascending for date and time means that earlier
            values precede later ones. Descending means that later values preced
            earlier ones. For title, it is 0-9 and A-Z ascending and Z-A, 9-0
            descending.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - asc
              - desc
          example: desc
        - $ref: '#/components/parameters/currentPage'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-stream-list-response'
              examples:
                response:
                  value:
                    data:
                      - liveStreamId: li400mYKSgQ6xs7taUeSaEKr
                        createdAt: '2020-01-31T10:17:47+00:00'
                        updatedAt: '2020-03-09T13:19:43+00:00'
                        streamKey: 30087931-229e-42cf-b5f9-e91bcc1f7332
                        name: Live Stream From the browser
                        public: true
                        record: true
                        broadcasting: false
                        assets:
                          iframe: >-
                            <iframe
                            src="https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr"
                            width="100%" height="100%" frameborder="0"
                            scrolling="no" allowfullscreen=""></iframe>
                          player: >-
                            https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr
                          hls: 'https://live.api.video/li400mYKSgQ6xs7taUeSaEKr.m3u8'
                          thumbnail: >-
                            https://cdn.api.video/live/li400mYKSgQ6xs7taUeSaEKr/thumbnail.jpg
                      - liveStreamId: li4pqNqGUkhKfWcBGpZVLRY5
                        createdAt: '2020-07-29T10:45:35+00:00'
                        updatedAt: '2020-07-29T10:45:35+00:00'
                        streamKey: cc1b4df0-d1c5-4064-a8f9-9f0368385135
                        name: Live From New York
                        public: true
                        record: true
                        broadcasting: false
                        assets:
                          iframe: >-
                            <iframe
                            src="https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5"
                            width="100%" height="100%" frameborder="0"
                            scrolling="no" allowfullscreen=""></iframe>
                          player: >-
                            https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5
                          hls: 'https://live.api.video/li4pqNqGUkhKfWcBGpZVLRY5.m3u8'
                          thumbnail: >-
                            https://cdn.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5/thumbnail.jpg
                    pagination:
                      currentPage: 1
                      currentPageItems: 19
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 19
                      links:
                        - rel: self
                          uri: /live-streams?currentPage=1&pageSize=25
                        - rel: first
                          uri: /live-streams?currentPage=1&pageSize=25
                        - rel: last
                          uri: /live-streams?currentPage=1&pageSize=25
      security:
        - bearerAuth: []
    post:
      tags:
        - Live
      summary: Create live stream
      description: >-
        A live stream will give you the 'connection point' to RTMP your video
        stream to api.video. It will also give you the details for viewers to
        watch the same livestream. 

        The public=false 'private livestream' is available as a BETA feature,
        and should be limited to livestreams of 3,000 viewers or fewer.


        See our [Live Stream
        Tutorial](https://api.video/blog/tutorials/live-stream-tutorial) for a
        walkthrough of this API with OBS.

        Your RTMP endpoint for the livestream is
        rtmp://broadcast.api.video/s/{streamKey}
      operationId: POST_live-streams
      x-client-action: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/live-stream-create-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-stream'
              examples:
                response:
                  value:
                    liveStreamId: li4pqNqGUkhKfWcBGpZVLRY5
                    createdAt: '2020-07-29T10:45:35+00:00'
                    updatedAt: '2020-07-29T10:45:35+00:00'
                    streamKey: cc1b4df0-d1c5-4064-a8f9-9f0368385135
                    name: Live From New York
                    public: true
                    record: true
                    broadcasting: false
                    assets:
                      iframe: >-
                        <iframe
                        src="https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: 'https://embed.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5'
                      hls: 'https://live.api.video/li4pqNqGUkhKfWcBGpZVLRY5.m3u8'
                      thumbnail: >-
                        https://cdn.api.video/live/li4pqNqGUkhKfWcBGpZVLRY5/thumbnail.jpg
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
      security:
        - bearerAuth: []
  '/live-streams/{liveStreamId}':
    get:
      tags:
        - Live
      summary: Show live stream
      description: >-
        Supply a LivestreamId, and you'll get all the details for streaming
        into, and watching the livestream.
      operationId: GET_live-streams-liveStreamId
      x-client-action: get
      parameters:
        - name: liveStreamId
          in: path
          description: The unique ID for the live stream you want to watch.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: li400mYKSgQ6xs7taUeSaEKr
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-stream'
              examples:
                response:
                  value:
                    liveStreamId: li400mYKSgQ6xs7taUeSaEKr
                    createdAt: '2020-01-31T10:17:47+00:00'
                    updatedAt: '2020-03-09T13:19:43+00:00'
                    streamKey: 30087931-229e-42cf-b5f9-e91bcc1f7332
                    name: Live Stream From the browser
                    public: true
                    record: true
                    broadcasting: false
                    assets:
                      iframe: >-
                        <iframe
                        src="https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: 'https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr'
                      hls: 'https://live.api.video/li400mYKSgQ6xs7taUeSaEKr.m3u8'
                      thumbnail: >-
                        https://cdn.api.video/live/li400mYKSgQ6xs7taUeSaEKr/thumbnail.jpg
      security:
        - bearerAuth: []
    delete:
      tags:
        - Live
      summary: Delete a live stream
      operationId: DELETE_live-streams-liveStreamId
      x-client-action: delete
      parameters:
        - name: liveStreamId
          in: path
          description: The unique ID for the live stream that you want to remove.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: li400mYKSgQ6xs7taUeSaEKr
      responses:
        '204':
          description: No Content
      security:
        - bearerAuth: []
    patch:
      tags:
        - Live
      summary: Update a live stream
      description: >-
        Use this endpoint to update the player, or to turn recording on/off
        (saving a copy of the livestream). NOTE: If the livestream is actively
        streaming, changing the recording status will only affect the NEXT
        stream.    The public=false 'private livestream' is available as a BETA
        feature, and should be limited to livestreams of 3,000 viewers or fewer.
      operationId: PATCH_live-streams-liveStreamId
      x-client-action: update
      parameters:
        - name: liveStreamId
          in: path
          description: >-
            The unique ID for the live stream that you want to update
            information for such as player details, or whether you want the
            recording on or off.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: li400mYKSgQ6xs7taUeSaEKr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/live-stream-update-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-stream'
              examples:
                response:
                  value:
                    liveStreamId: li400mYKSgQ6xs7taUeSaEKr
                    createdAt: '2020-01-31T10:17:47+00:00'
                    updatedAt: '2020-03-09T13:19:43+00:00'
                    streamKey: 30087931-229e-42cf-b5f9-e91bcc1f7332
                    name: Live Stream From the browser
                    public: true
                    record: true
                    broadcasting: false
                    assets:
                      iframe: >-
                        <iframe
                        src="https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr"
                        width="100%" height="100%" frameborder="0"
                        scrolling="no" allowfullscreen=""></iframe>
                      player: 'https://embed.api.video/live/li400mYKSgQ6xs7taUeSaEKr'
                      hls: 'https://live.api.video/li400mYKSgQ6xs7taUeSaEKr.m3u8'
                      thumbnail: >-
                        https://cdn.api.video/live/li400mYKSgQ6xs7taUeSaEKr/thumbnail.jpg
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
      security:
        - bearerAuth: []
  '/live-streams/{liveStreamId}/thumbnail':
    post:
      tags:
        - Live
      summary: Upload a thumbnail
      description: Upload an image to use as a backdrop for your livestream.
      operationId: POST_live-streams-liveStreamId-thumbnail
      x-client-action: uploadThumbnail
      parameters:
        - name: liveStreamId
          in: path
          description: The unique ID for the live stream you want to upload.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/live-stream-thumbnail-upload-payload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-stream'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    status: 400
                    type: 'https://docs.api.video/docs/fileextension'
                    title: 'Only [jpeg, jpg, JPG, JPEG] extensions are supported.'
                    name: file
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: liveStreamId
                    status: 404
      security:
        - bearerAuth: []
    delete:
      tags:
        - Live
      summary: Delete a thumbnail
      description: >-
        Send the unique identifier for a live stream to delete it from the
        system.
      operationId: DELETE_live-streams-liveStreamId-thumbnail
      x-client-action: deleteThumbnail
      parameters:
        - name: liveStreamId
          in: path
          description: 'The unique identifier for the live stream you want to delete. '
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: li400mYKSgQ6xs7taUeSaEKr
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-stream'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/docs/resourcenot_found'
                    title: The requested resource was not found.
                    name: liveStreamId
                    status: 404
      security:
        - bearerAuth: []
  '/videos/{videoId}/captions/{language}':
    get:
      tags:
        - Captions
      summary: Show a caption
      description: >-
        Display a caption for a video in a specific language. If the language is
        available, the caption is returned. Otherwise, you will get a response
        indicating the caption was not found.
      operationId: GET_videos-videoId-captions-language
      x-client-action: get
      parameters:
        - name: videoId
          in: path
          description: The unique identifier for the video you want captions for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Prklg
        - name: language
          in: path
          description: >-
            A valid [BCP
            47](https://github.com/libyal/libfwnt/wiki/Language-Code-identifiers)
            language representation
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subtitle'
              examples:
                response:
                  value:
                    uri: /videos/vi3N6cDinStg3oBbN79GklWS/captions/en
                    src: >-
                      https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/captions/en.vtt
                    srclang: en
                    default: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
    post:
      tags:
        - Captions
      summary: Upload a caption
      description: |-
        Upload a VTT file to add captions to your video.
         Read our [captioning tutorial](https://api.video/blog/tutorials/adding-captions) for more details.
      operationId: POST_videos-videoId-captions-language
      x-client-action: upload
      parameters:
        - name: videoId
          in: path
          description: The unique identifier for the video you want to add a caption to.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Prklg
        - name: language
          in: path
          description: A valid BCP 47 language representation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/captions-upload-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subtitle'
              examples:
                response:
                  value:
                    uri: /videos/vi3N6cDinStg3oBbN79GklWS/captions/en
                    src: >-
                      https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/captions/en.vtt
                    srclang: en
                    default: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
    delete:
      tags:
        - Captions
      summary: Delete a caption
      description: >-
        Delete a caption in a specific language by providing the video ID for
        the video you want to delete the caption from and the language the
        caption is in.
      operationId: DELETE_videos-videoId-captions-language
      x-client-action: delete
      parameters:
        - name: videoId
          in: path
          description: >-
            The unique identifier for the video you want to delete a caption
            from.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Prklgc
        - name: language
          in: path
          description: >-
            A valid [BCP
            47](https://github.com/libyal/libfwnt/wiki/Language-Code-identifiers)
            language representation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: en
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
    patch:
      tags:
        - Captions
      summary: Update caption
      description: >-
        To have the captions on automatically, use this PATCH to set default:
        true.
      operationId: PATCH_videos-videoId-captions-language
      x-client-action: update
      parameters:
        - name: videoId
          in: path
          description: >-
            The unique identifier for the video you want to have automatic
            captions for. 
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Prklg
        - name: language
          in: path
          description: >-
            A valid [BCP
            47](https://github.com/libyal/libfwnt/wiki/Language-Code-identifiers)
            language representation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: en
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/captions-update-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subtitle'
              examples:
                response:
                  value:
                    uri: /videos/vi3N6cDinStg3oBbN79GklWS/captions/en
                    src: >-
                      https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/captions/en.vtt
                    srclang: en
                    default: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    type: string (required)
                    title: string (required)
                    name: string (required)
                    status: integer (required)
                    problems:
                      - null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: Lorem sit culpa non
                    title: sunt do fugiat tempor
                    name: irure mollit aute
                    status: 85925135
      security:
        - bearerAuth: []
  '/videos/{videoId}/captions':
    get:
      tags:
        - Captions
      summary: List video captions
      description: Retrieve a list of available captions for the videoId you provide.
      operationId: GET_videos-videoId-captions
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      parameters:
        - name: videoId
          in: path
          description: >-
            The unique identifier for the video you want to retrieve a list of
            captions for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Prklg
        - $ref: '#/components/parameters/currentPage'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/captions-list-response'
              examples:
                response:
                  value:
                    data:
                      - uri: /videos/vi3N6cDinStg3oBbN79GklWS/captions/en
                        src: >-
                          https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/captions/en.vtt
                        srclang: en
                        default: false
                      - uri: /videos/vi3N6cDinStg3oBbN79GklWS/captions/fr
                        src: >-
                          https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/captions/fr.vtt
                        srclang: fr
                        default: false
                    pagination:
                      currentPage: 1
                      currentPageItems: 2
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 2
                      links:
                        - rel: self
                          uri: >-
                            /videos/vi3N6cDinStg3oBbN79GklWS/captions?currentPage=1&pageSize=25
                        - rel: first
                          uri: >-
                            /videos/vi3N6cDinStg3oBbN79GklWS/captions?currentPage=1&pageSize=25
                        - rel: last
                          uri: >-
                            /videos/vi3N6cDinStg3oBbN79GklWS/captions?currentPage=1&pageSize=25
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
  '/videos/{videoId}/chapters/{language}':
    get:
      tags:
        - Chapters
      summary: Show a chapter
      operationId: GET_videos-videoId-chapters-language
      x-client-action: get
      parameters:
        - name: videoId
          in: path
          description: The unique identifier for the video you want to show a chapter for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        - name: language
          in: path
          description: >-
            A valid [BCP
            47](https://github.com/libyal/libfwnt/wiki/Language-Code-identifiers)
            language representation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chapter'
              examples:
                response:
                  value:
                    uri: /videos/vi3N6cDinStg3oBbN79GklWS/chapters/fr
                    src: >-
                      https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/chapters/fr.vtt
                    language: fr
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
    post:
      tags:
        - Chapters
      summary: Upload a chapter
      description: >-
        Chapters help break the video into sections. Read our
        [tutorial](https://api.video/blog/tutorials/adding-chapters-to-your-videos)
        for more details.
      operationId: POST_videos-videoId-chapters-language
      x-client-action: upload
      parameters:
        - name: videoId
          in: path
          description: >-
            The unique identifier for the video you want to upload a chapter
            for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        - name: language
          in: path
          description: >-
            A valid [BCP
            47](https://github.com/libyal/libfwnt/wiki/Language-Code-identifiers)
            language representation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: en
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/chapters-update-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chapter'
              examples:
                response:
                  value:
                    uri: /videos/vi3N6cDinStg3oBbN79GklWS/chapters/fr
                    src: >-
                      https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/chapters/fr.vtt
                    language: fr
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
    delete:
      tags:
        - Chapters
      summary: Delete a chapter
      operationId: DELETE_videos-videoId-chapters-language
      x-client-action: delete
      parameters:
        - name: videoId
          in: path
          description: >-
            The unique identifier for the video you want to delete a chapter
            from. 
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        - name: language
          in: path
          description: >-
            A valid [BCP
            47](https://github.com/libyal/libfwnt/wiki/Language-Code-identifiers)
            language representation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: en
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
  '/videos/{videoId}/chapters':
    get:
      tags:
        - Chapters
      summary: List video chapters
      description: Retrieve a list of all chapters for a specified video.
      operationId: GET_videos-videoId-chapters
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      parameters:
        - name: videoId
          in: path
          description: >-
            The unique identifier for the video you want to retrieve a list of
            chapters for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        - $ref: '#/components/parameters/currentPage'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chapters-list-response'
              examples:
                response:
                  value:
                    data:
                      - uri: /videos/vi3N6cDinStg3oBbN79GklWS/chapters/fr
                        src: >-
                          https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/chapters/fr.vtt
                        language: fr
                      - uri: /videos/vi3N6cDinStg3oBbN79GklWS/chapters/en
                        src: >-
                          https://cdn.api.video/vod/vi3N6cDinStg3oBbN79GklWS/chapters/en.vtt
                        language: en
                    pagination:
                      currentPage: 1
                      currentPageItems: 2
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 2
                      links:
                        - rel: self
                          uri: >-
                            /videos/vi3N6cDinStg3oBbN79GklWS/chapters?currentPage=1&pageSize=25
                        - rel: first
                          uri: >-
                            /videos/vi3N6cDinStg3oBbN79GklWS/chapters?currentPage=1&pageSize=25
                        - rel: last
                          uri: >-
                            /videos/vi3N6cDinStg3oBbN79GklWS/chapters?currentPage=1&pageSize=25
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
      security:
        - bearerAuth: []
  /players:
    get:
      tags:
        - Players
      summary: List all players
      description: >-
        Retrieve a list of all the players you created, as well as details about
        each one.
      operationId: GET_players
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      parameters:
        - name: sortBy
          in: query
          description: >-
            createdAt is the time the player was created. updatedAt is the time
            the player was last updated. The time is presented in ISO-8601
            format.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
          example: createdAt
        - name: sortOrder
          in: query
          description: >-
            Allowed: asc, desc. Ascending for date and time means that earlier
            values precede later ones. Descending means that later values preced
            earlier ones.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - $ref: '#/components/parameters/currentPage'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/players-list-response'
              examples:
                response:
                  value:
                    data:
                      - playerId: pl4fgtjy4tjyKDK545DRdfg
                        createdAt: '2020-01-13T10:09:17+00:00'
                        updatedAt: '2020-01-13T10:09:17+00:00'
                        shapeMargin: 10
                        shapeRadius: 3
                        shapeAspect: flat
                        shapeBackgroundTop: 'rgba(50, 50, 50, .7)'
                        shapeBackgroundBottom: 'rgba(50, 50, 50, .8)'
                        text: 'rgba(255, 255, 255, .95)'
                        link: 'rgba(255, 0, 0, .95)'
                        linkHover: 'rgba(255, 255, 255, .75)'
                        linkActive: 'rgba(255, 0, 0, .75)'
                        trackPlayed: 'rgba(255, 255, 255, .95)'
                        trackUnplayed: 'rgba(255, 255, 255, .1)'
                        trackBackground: 'rgba(0, 0, 0, 0)'
                        backgroundTop: 'rgba(72, 4, 45, 1)'
                        backgroundBottom: 'rgba(94, 95, 89, 1)'
                        backgroundText: 'rgba(255, 255, 255, .95)'
                        enableApi: false
                        enableControls: false
                        forceAutoplay: false
                        hideTitle: false
                        forceLoop: false
                      - playerId: pl54fgtjy4tjyKDK45DRdfg
                        createdAt: '2020-01-13T10:09:17+00:00'
                        updatedAt: '2020-01-13T10:09:17+00:00'
                        shapeMargin: 10
                        shapeRadius: 3
                        shapeAspect: flat
                        shapeBackgroundTop: 'rgba(50, 50, 50, .7)'
                        shapeBackgroundBottom: 'rgba(50, 50, 50, .8)'
                        text: 'rgba(255, 255, 255, .95)'
                        link: 'rgba(255, 0, 0, .95)'
                        linkHover: 'rgba(255, 255, 255, .75)'
                        linkActive: 'rgba(255, 0, 0, .75)'
                        trackPlayed: 'rgba(255, 255, 255, .95)'
                        trackUnplayed: 'rgba(255, 255, 255, .1)'
                        trackBackground: 'rgba(0, 0, 0, 0)'
                        backgroundTop: 'rgba(72, 4, 45, 1)'
                        backgroundBottom: 'rgba(94, 95, 89, 1)'
                        backgroundText: 'rgba(255, 255, 255, .95)'
                        enableApi: true
                        enableControls: true
                        forceAutoplay: true
                        hideTitle: false
                        forceLoop: false
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 4
                      currentPageItems: 4
                      links:
                        - rel: self
                          uri: 'https://ws.api.video/players?currentPage=1'
                        - rel: first
                          uri: 'https://ws.api.video/players?currentPage=1'
                        - rel: last
                          uri: 'https://ws.api.video/players?currentPage=1'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    title: This parameter is out of the allowed range of values.
                    name: page
                    status: 400
                    range:
                      min: 1
                    problems:
                      - title: This parameter is out of the allowed range of values.
                        name: page
                        range:
                          min: 1
                      - title: This parameter is out of the allowed range of values.
                        name: pageSize
                        range:
                          min: 10
                          max: 100
      security:
        - bearerAuth: []
    post:
      tags:
        - Players
      summary: Create a player
      description: 'Create a player for your video, and customise it.'
      operationId: POST_players
      x-client-action: create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/playerCreationPayload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/player'
              examples:
                response:
                  value:
                    playerId: pl45d5vFFGrfdsdsd156dGhh
                    createdAt: '2020-01-13T10:09:17+00:00'
                    updatedAt: '2020-01-13T10:09:17+00:00'
                    shapeRadius: 3
                    shapeAspect: flat
                    shapeBackgroundTop: 'rgba(50, 50, 50, .7)'
                    shapeBackgroundBottom: 'rgba(50, 50, 50, .8)'
                    text: 'rgba(255, 255, 255, .95)'
                    link: 'rgba(255, 0, 0, .95)'
                    linkHover: 'rgba(255, 255, 255, .75)'
                    linkActive: 'rgba(255, 0, 0, .75)'
                    trackPlayed: 'rgba(255, 255, 255, .95)'
                    trackUnplayed: 'rgba(255, 255, 255, .1)'
                    trackBackground: 'rgba(0, 0, 0, 0)'
[...]
