openapi: 3.0.0
x-stoplight:
  id: ybzk39fiws46g
info:
  title: api.video
  description: 'api.video is an API that encodes on the go to facilitate immediate playback, enhancing viewer streaming experiences across multiple devices and platforms. You can stream live or on-demand online videos within minutes.'
  version: '1'
servers:
  - url: 'https://ws.api.video'
    description: Production server
  - url: 'https://sandbox.api.video'
    description: 'Test server `all videos are watermarked, and deleted after 24 hours.'
paths:
  /auth/api-key:
    post:
      tags:
        - Advanced authentication
      summary: Get Bearer Token
      description: |-
        Returns a bearer token that can be used to authenticate other endpoint.

        You can find the tutorial on using the disposable bearer token [here](https://docs.api.video/reference/disposable-bearer-token-authentication).
      operationId: POST_auth-api-key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticate-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access-token'
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/reference/authentication-invalid-user-credentials'
                    title: The user credentials were incorrect.
                    name: ''
                    status: 400
      x-client-action: authenticate
      x-client-hidden: true
      x-doctave:
        code-samples:
          - language: go
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: node
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: php
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: python
            code: |
              #With the api.video API clients, authentication is taken care of with each client created.
              # You get to skip this step!
          - language: java
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: csharp
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: swift
            code: |
              // With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
  /auth/refresh:
    post:
      tags:
        - Advanced authentication
      summary: Refresh Bearer Token
      description: |-
        Accepts the old bearer token and returns a new bearer token that can be used to authenticate other endpoint.

        You can find the tutorial on using the disposable bearer token [here](https://docs.api.video/reference/disposable-bearer-token-authentication).
      operationId: POST_auth-refresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refresh-token-payload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/access-token'
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    status: 400
                    type: 'https://docs.api.video/reference/authentication-invalid-user-credentials'
                    title: The user credentials were incorrect.
                    name: ''
      x-client-action: refresh
      x-client-hidden: true
      x-doctave:
        code-samples:
          - language: go
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: node
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: php
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: python
            code: |
              #With the api.video API clients, authentication is taken care of with each client created.
              # You get to skip this step!
          - language: java
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: csharp
            code: |
              //With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
          - language: swift
            code: |
              // With the api.video API clients, authentication is taken care of with each client created.
              // You get to skip this step!
  /videos:
    get:
      tags:
        - Videos
      summary: List all video objects
      description: List all the video objects that are associated with the current workspace.
      x-client-description:
        default: 'This method returns a list of your videos (with all their details). With no parameters added, the API returns the first page of all videos. You can filter videos using the parameters described below.'
      operationId: LIST-videos
      parameters:
        - name: title
          in: query
          description: The title of a specific video you want to find. The search will match exactly to what term you provide and return any videos that contain the same term as part of their titles.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: My Video.mp4
        - name: 'tags[]'
          in: query
          description: A tag is a category you create and apply to videos. You can search for videos with particular tags by listing one or more here. Only videos that have all the tags you list will be returned.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          example: '["captions", "dialogue"]'
        - name: metadata
          in: query
          description: 'Videos can be tagged with metadata tags in key:value pairs. You can search for videos with specific key value pairs using this parameter.'
          required: false
          style: deepObject
          x-is-deep-object: true
          explode: true
          schema:
            type: object
            additionalProperties:
              type: string
          example: 'metadata[Author]=John Doe&metadata[Format]=Tutorial'
        - name: description
          in: query
          description: 'Retrieve video objects by `description`.'
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: New Zealand
        - name: liveStreamId
          in: query
          description: 'Retrieve video objects that were recorded from a live stream by `liveStreamId`.'
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: li400mYKSgQ6xs7taUeSaEKr
        - name: sortBy
          in: query
          description: 'Use this parameter to sort videos by the their created time, published time, updated time, or by title.'
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum: [title, createdAt, publishedAt, updatedAt]
          example: publishedAt
        - name: sortOrder
          in: query
          description: 'Use this parameter to sort results. `asc` is ascending and sorts from A to Z. `desc` is descending and sorts from Z to A.'
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum: [asc, desc]
          example: asc
        - $ref: '#/components/parameters/current-page'
        - $ref: '#/components/parameters/page-size'
      responses:
        '200':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/videos-list-response'
              examples:
                response:
                  value:
                    data:
                      - videoId: vi4blUQJFrYWbaG44NChkH27
                        playerId: pl45KFKdlddgk654dspkze
                        title: Maths video
                        description: An amazing video explaining the string theory
                        language: 'en'
                        languageOrigin: 'api'
                        public: false
                        panoramic: false
                        mp4Support: true
                        tags:
                          - maths
                          - string theory
                          - video
                        metadata:
                          - key: Author
                            value: John Doe
                          - key: Format
                            value: Tutorial
                        publishedAt: '2019-12-16T08:25:51+00:00'
                        updatedAt: '2019-12-16T08:48:49+00:00'
                        discarded: false
                        discardedAt: null
                        deletesAt: null
                        source:
                          uri: /videos/c188ed58-3403-46a2-b91b-44603d10b2c9/source
                        assets:
                          iframe: '<iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>'
                          player: 'https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27'
                          hls: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8'
                          thumbnail: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg'
                          mp4: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4'
                      - videoId: vi4blUQJFrYWbaG44NChkH27
                        title: Video Title
                        description: A description for your video.
                        language: 'en'
                        languageOrigin: 'api'
                        public: false
                        panoramic: false
                        mp4Support: true
                        tags:
                          - books
                          - short stories
                        metadata:
                          - key: Author
                            value: John Doe
                          - key: Science Fiction
                            value: Cyberpunk
                          - key: Technology
                            value: Computers
                        publishedAt: '2019-12-16T08:25:51+00:00'
                        updatedAt: '2019-12-16T08:48:49+00:00'
                        discarded: false
                        discardedAt: null
                        deletesAt: null
                        source:
                          uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                        assets:
                          iframe: '<iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>'
                          player: 'https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27'
                          hls: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8'
                          thumbnail: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg'
                          mp4: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4'
                      - videoId: vi4blUQJFrYWbaG44NChkH27
                        playerId: pl45KFKdlddgk654dspkze
                        title: My Video Title
                        description: A brief description of the video.
                        language: 'fr'
                        languageOrigin: 'api'
                        public: false
                        panoramic: false
                        mp4Support: true
                        tags:
                          - General
                          - Videos
                        metadata:
                          - key: Length
                            value: Short
                        publishedAt: '2019-12-16T08:25:51+00:00'
                        updatedAt: '2019-12-16T08:48:49+00:00'
                        discarded: false
                        discardedAt: null
                        deletesAt: null
                        source:
                          uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                        assets:
                          iframe: '<iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>'
                          player: 'https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27'
                          hls: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8'
                          thumbnail: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg'
                          mp4: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4'
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 11
                      currentPageItems: 11
                      links:
                        - rel: self
                          uri: 'https://ws.api.video/videos?currentPage=1'
                        - rel: first
                          uri: 'https://ws.api.video/videos?currentPage=1'
                        - rel: last
                          uri: 'https://ws.api.video/videos?currentPage=1'
        '400':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    title: This parameter is out of the allowed range of values.
                    name: page
                    status: 400
                    range:
                      min: 1
                    problems:
                      - title: This parameter is out of the allowed range of values.
                        name: page
                        range:
                          min: 1
                      - title: This parameter is out of the allowed range of values.
                        name: pageSize
                        range:
                          min: 10
                          max: 100
        '429':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/too-many-requests'
              examples:
                Too many requests:
                  value:
                    type: 'https://docs.api.video/reference/too-many-requests'
                    title: Too many requests.
                    status: 429
      security:
        - apiKey: []
      x-doctave:
        code-samples:
          - language: php
            code: |
              <?php
              // First install the api client: "composer require api-video/php-api-client"
              // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/VideosApi.md#list

              require __DIR__ . '/vendor/autoload.php';


              $client = new \ApiVideo\Client\Client(
                  'https://ws.api.video',
                  'YOUR_API_KEY',
                  new \Symfony\Component\HttpClient\Psr18Client()
              );

              // list all videos (all pages)
              $allVideos = [];
              do {
                  $currentPage = $client->videos()->list([]);
                  $allVideos = array_merge($allVideos, $currentPage->getData());
              } while($currentPage->getPagination()->getCurrentPage() < $currentPage->getPagination()->getPagesTotal());

              // list videos that have all the given tags (only first results page)
              $videosWithTag = $client->videos()->list(['tags' => ['TAG2','TAG1']]);

              // list videos that have all the given metadata values (only first results page)
              $videosWithMetadata = $client->videos()->list(['metadata' => ['key1' => 'key1value1', 'key2' => 'key2value1']]);
          - language: java
            code: |-
              // First add the "video.api:java-api-client" maven dependency to your project
              // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/VideosApi.md#list

              ApiVideoClient client = new ApiVideoClient("YOUR_API_KEY");
              VideosApi videosApi = client.videos();

              // list all videos (all pages)
              Page<Video> videosPages = videosApi.list().execute();
              videosPages.forEach(videosPage -> videosPage.getItems().forEach(video ->
                  System.out.println(video.getVideoId())
              ));

              // list videos that have all the given tags (only first results page)
              List<Video> videosWithTags = videosApi.list()
                  .tags(Arrays.asList("tag1", "tag2"))
                  .execute()
                  .getItems();

              // list videos that have all the given metadata values (only first results page)
              List<Video> videosWithMetadata = videosApi.list()
                  .metadata(Map.of("key1", "value1", "key2", "value2"))
                  .execute()
                  .getItems();
          - language: node
            code: |-
              // First install the "@api.video/nodejs-client" npm package
              // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#list

              const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" });

              // list all videos (all pages)
              let allVideos = [];
              for(let currentPage=1 ; ; currentPage++) {
                const res = await client.videos.list({ currentPage });
                allVideos = [...allVideos, ...res.data];
                if(currentPage >= res.pagination.pagesTotal) {
                  break;
                }
              }

              // list videos that have all the given tags (only first results page)
              const videosWithTags = await client.videos.list({ tags: ["tag1", "tag2"] });

              // list videos that have all the given metadata values (only first results page)
              const videosWithMetadata = await client.videos.list({ metadata: { "key1": "value1", "key2": "value2" } })
          - language: csharp
            code: |
              // First add the "ApiVideo" NuGet package to your project
              // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/VideosApi.md#list
          - language: go
            code: |
              // First install the go client with "go get github.com/apivideo/api.video-go-client"
              // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#list
          - language: python
            code: |
              # First install the api client with "pip install api.video"
              # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#list
          - language: swift
            code: |
              // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
              // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/VideosAPI.md#list
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      x-optional-object: true
    post:
      tags:
        - Videos
      summary: Create a video object
      description: |
        Creates a video object. More information on video objects can be found [here](https://docs.api.video/reference/api/Videos).
      operationId: POST-video
      requestBody:
        description: video to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-creation-payload'
      responses:
        '201':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    title: Maths video
                    description: An amazing video explaining the string theory
                    language: 'en'
                    languageOrigin: 'api'
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl4k0jvEUuaTdRAEjQ4Jfrgz
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '2024-07-14T23:36:07+00:00'
                    discarded: false
                    discardedAt: null
                    deletesAt: null
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: '<iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>'
                      player: 'https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27'
                      hls: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8'
                      thumbnail: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg'
                      mp4: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4'
        '202':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
        '400':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                Arttribute required:
                  value:
                    type: 'https://docs.api.video/reference/attribute-required'
                    title: This attribute is required.
                    name: title
                    status: 400
                    problems:
                      - type: 'https://docs.api.video/reference/attribute-required'
                        title: This attribute is required.
                        name: title
                      - type: 'https://docs.api.video/reference/invalid-attribute'
                        title: This attribute must be a ISO-8601 date.
                        name: scheduledAt
                      - type: 'https://docs.api.video/reference/invalid-attribute'
                        title: This attribute must be an array.
                        name: tags
                      - type: 'https://docs.api.video/reference/invalid-attribute'
                        title: This attribute must be an array.
                        name: metadata
                Invalid language formatting:
                  description: This error occurs when the language tag you provided contains characters other than letters and dashes.
                  value:
                    type: https://docs.api.video/reference/invalid-attribute
                    title: An attribute is invalid.
                    status: 400
                    detail: The "language" attribute must contain only letters and dashes (for example "fr", "fr-BE").
                    name: language
                Invalid language:
                  description: This error occurs when the language tag you provided does not match any supported language.
                  value:
                    type: https://docs.api.video/reference/invalid-attribute
                    title: An attribute is invalid.
                    status: 400
                    detail: The "language" attribute is not valid.
                    name: language
        '429':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/too-many-requests'
              examples:
                Too many requests:
                  value:
                    type: 'https://docs.api.video/reference/too-many-requests'
                    title: Too many requests.
                    status: 429
      security:
        - apiKey: []
      x-client-action: create
      x-doctave:
        code-samples:
          - language: go
            code: |
              // First install the go client with "go get github.com/apivideo/api.video-go-client"
              // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#create

              package main

              import (
                  "context"
                  "fmt"
                  "os"
                  apivideosdk "github.com/apivideo/api.video-go-client"
              )

              func main() {
                  client := apivideosdk.ClientBuilder("YOUR_API_KEY").Build()
                  // if you rather like to use the sandbox environment:
                  // client := apivideosdk.SandboxClientBuilder("YOUR_SANDBOX_API_KEY").Build()
                      
                  videoCreationPayload := *apivideosdk.NewVideoCreationPayload("Maths video") // VideoCreationPayload | video to create

                  
                  res, err := client.Videos.Create(videoCreationPayload)

                  if err != nil {
                      fmt.Fprintf(os.Stderr, "Error when calling `Videos.Create``: %v\
              ", err)
                  }
                  // response from `Create`: Video
                  fmt.Fprintf(os.Stdout, "Response from `Videos.Create`: %v\
              ", res)
              }
          - language: node
            code: |
              // First install the "@api.video/nodejs-client" npm package
              // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#create

              const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" });

              // create a simple video
              const video = await client.videos.create({ title: "Maths video" });

              // create a video using an existing source
              const existingSourceVideo = await client.videos.create({
                title: "Video using an existing source", 
                source: "https://www.myvideo.url.com/video.mp4", 
              });

              // create a private video
              const privateVideo = await client.videos.create({
                title: "Video using an existing source", 
                _public: false,
              });

              // create a video using all available attributes
              const video = await client.videos.create({
                title: "Maths video", // The title of your new video.
                description: "A video about string theory.", // A brief description of your video.
                source: "https://www.myvideo.url.com/video.mp4", // If you add a video already on the web, this is where you enter the url for the video.
                _public: true, // Whether your video can be viewed by everyone, or requires authentication to see it. A setting of false will require a unique token for each view.
                panoramic: false, // Indicates if your video is a 360/immersive video.
                mp4Support: true, // Enables mp4 version in addition to streamed version.
                playerId: "pl45KFKdlddgk654dspkze", // The unique identification number for your video player.
                tags: ["maths", "string theory", "video"], // A list of tags you want to use to describe your video.
                metadata: [{"key": "Author", "value": "John Doe"}], // A list of key value pairs that you use to provide metadata for your video. These pairs can be made dynamic, allowing you to segment your audience. You can also just use the pairs as another way to tag and categorize your videos.
              });
          - language: php
            code: |
              <?php
              // First install the api client: "composer require api-video/php-api-client"
              // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/VideosApi.md#create

              require __DIR__ . '/vendor/autoload.php';

              $client = new \ApiVideo\Client\Client(
                  'https://ws.api.video',
                  'YOUR_API_KEY',
                  new \Symfony\Component\HttpClient\Psr18Client()
              );

              // create a simple video
              $video = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())->setTitle("Maths video"));

              // create a video using an existing source
              $existingSourceVideo = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())
                  ->setTitle("Maths video")
                  ->setSource("https://www.myvideo.url.com/video.mp4"));

              // create a private video
              $privateVideo = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())
                  ->setTitle("Maths video")
                  ->setPublic(false));

              // create a video using all available attributes
              $anotherVideo = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())
                  ->setTitle("Maths video") // The title of your new video.
                  ->setDescription("A video about string theory.") // A brief description of your video.
                  ->setSource("https://www.myvideo.url.com/video.mp4") // If you add a video already on the web, this is where you enter the url for the video.
                  ->setPublic(true) // Whether your video can be viewed by everyone, or requires authentication to see it. A setting of false will require a unique token for each view.
                  ->setPanoramic(false) // Indicates if your video is a 360/immersive video.
                  ->setMp4Support(true) // Enables mp4 version in addition to streamed version.
                  ->setPlayerId("pl45KFKdlddgk654dspkze") // The unique identification number for your video player.
                  ->setTags(array("TAG1", "TAG2")) // A list of tags you want to use to describe your video.
                  ->setMetadata(array( // A list of key value pairs that you use to provide metadata for your video. These pairs can be made dynamic, allowing you to segment your audience. You can also just use the pairs as another way to tag and categorize your videos.
                      new \ApiVideo\Client\Model\Metadata(['key' => 'key1', 'value' => 'key1value1']),
                      new \ApiVideo\Client\Model\Metadata(['key' => 'key2', 'value' => 'key2value1']))));
          - language: python
            code: |
              # First install the api client with "pip install api.video"
              # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#create

              import apivideo
              from apivideo.api import videos_api
              from apivideo.model.video_creation_payload import VideoCreationPayload
              from apivideo.model.bad_request import BadRequest
              from apivideo.model.video import Video
              from pprint import pprint

              # Enter a context with an instance of the API client
              with apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:
                  # Create an instance of the API class
                  api_instance = videos_api.VideosApi(api_client)
                  video_creation_payload = VideoCreationPayload(
                      title="Maths video",
                      description="A video about string theory.",
                      source="https://www.myvideo.url.com/video.mp4",
                      public=True,
                      panoramic=False,
                      mp4_support=True,
                      player_id="pl45KFKdlddgk654dspkze",
                      tags=["maths", "string theory", "video"],
                      metadata=[
                          Metadata(
                              key="Color",
                              value="Green",
                          ),
                      ],
                  ) # VideoCreationPayload | video to create

                  # example passing only required values which don't have defaults set
                  try:
                      # Create a video
                      api_response = api_instance.create(video_creation_payload)
                      pprint(api_response)
                  except apivideo.ApiException as e:
                      print("Exception when calling VideosApi->create: %s\n" % e)
          - language: java
            code: |
              // First add the "video.api:java-api-client" maven dependency to your project
              // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/VideosApi.md#create

              import video.api.client.ApiVideoClient;
              import video.api.client.api.ApiException;
              import video.api.client.api.models.*;
              import video.api.client.api.clients.VideosApi;
              import java.util.*;

              public class Example {
                public static void main(String[] args) {
                  ApiVideoClient client = new ApiVideoClient("YOUR_API_KEY");
                  // if you rather like to use the sandbox environment:
                  // ApiVideoClient client = new ApiVideoClient("YOUR_SANDBOX_API_KEY", ApiVideoClient.Environment.SANDBOX);

                  VideosApi apiInstance = client.videos();
                  
                  VideoCreationPayload videoCreationPayload = new VideoCreationPayload(); // video to create
                  videoCreationPayload.setTitle("Maths video"); // The title of your new video.
                  videoCreationPayload.setDescription("A video about string theory."); // A brief description of your video.
                  videoCreationPayload.setSource("https://www.myvideo.url.com/video.mp4"); // If you add a video already on the web, this is where you enter the url for the video.
                  videoCreationPayload.setPublic(true); // Whether your video can be viewed by everyone, or requires authentication to see it. A setting of false will require a unique token for each view.
                  videoCreationPayload.setPanoramic(false); // Indicates if your video is a 360/immersive video.
                  videoCreationPayload.setMp4Support(true); // Enables mp4 version in addition to streamed version.
                  videoCreationPayload.setPlayerId("pl45KFKdlddgk654dspkze"); // The unique identification number for your video player.
                  videoCreationPayload.setTags(Arrays.asList("maths", "string theory", "video")); // A list of tags you want to use to describe your video.
                  videoCreationPayload.setMetadata(Collections.<Metadata>emptyList()); // A list of key value pairs that you use to provide metadata for your video. These pairs can be made dynamic, allowing you to segment your audience. You can also just use the pairs as another way to tag and categorize your videos.


                  try {
                    Video result = apiInstance.create(videoCreationPayload);
                    System.out.println(result);
                  } catch (ApiException e) {
                    System.err.println("Exception when calling VideosApi#create");
                    System.err.println("Status code: " + e.getCode());
                    System.err.println("Reason: " + e.getMessage());
                    System.err.println("Response headers: " + e.getResponseHeaders());
                    e.printStackTrace();
                  }
                }
              }
          - language: csharp
            code: |
              // First add the "ApiVideo" NuGet package to your project
              // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/VideosApi.md#create

              using System.Diagnostics;
              using ApiVideo.Client;

              namespace Example
              {
                  public class createExample
                  {
                      public static void Main()
                      {
                          var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                          var apiKey = "YOUR_API_KEY";

                          var apiInstance = new ApiVideoClient(apiKey,basePath);

                          var videoCreationPayload = new VideoCreationPayload(); // VideoCreationPayload | video to create
                          var apiVideosInstance = apiInstance.Videos();
                          try
                          {
                              // Create a video
                              Video result = apiVideosInstance.create(videoCreationPayload);
                              Debug.WriteLine(result);
                          }
                          catch (ApiException  e)
                          {
                              Debug.Print("Exception when calling VideosApi.create: " + e.Message );
                              Debug.Print("Status Code: "+ e.ErrorCode);
                              Debug.Print(e.StackTrace);
                          }
                      }
                  }
              }
          - language: swift
            code: |
              // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
              // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/VideosAPI.md#create
  /tags:
    get:
      tags:
        - Tags
      summary: List all video tags
      description: This endpoint enables you to search for video tags in a project and see how many videos are tagged with them. If you do not define any query parameters, the endpoint lists all video tags and the numbers of times they are used in a project.
      operationId: LIST-tags
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      parameters:
        - name: value
          in: query
          description: |
            Use this parameter to search for specific video tags. The API filters results even on partial values, and ignores accents, uppercase, and lowercase.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sortBy
          in: query
          description: |
            Use this parameter to choose which field the API will use to sort the response data. The default is `value`.
            
            These are the available fields to sort by:
            
            - `value`: Sorts the results based on tag values in alphabetic order.
            - `videoCount`: Sorts the results based on the number of times a video tag is used.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum: [value, videoCount]
          example: value
        - name: sortOrder
          in: query
          description: Use this parameter to sort results. `asc` is ascending and sorts from A to Z. `desc` is descending and sorts from Z to A.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum: [asc, desc]
          example: asc
        - $ref: '#/components/parameters/current-page'
        - $ref: '#/components/parameters/page-size'
      responses:
        '200':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-tags-response'
              examples:
                response:
                  value:
                    data:
                      - value: maths
                        videoCount: '33'
                      - value: tutorials
                        videoCount: '10'
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 2
                      currentPageItems: 2
                      links:
                        - rel: self
                          uri: '/tags?currentPage=1&pageSize=25'
                        - rel: first
                          uri: '/tags?currentPage=1&pageSize=25'
                        - rel: last
                          uri: '/tags?currentPage=1&pageSize=25'
        '429':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/too-many-requests'
              examples:
                Too many requests:
                  value:
                    type: 'https://docs.api.video/reference/too-many-requests'
                    title: Too many requests.
                    status: 429
  '/videos/{videoId}/source':
    post:
      tags:
        - Videos
      summary: Upload a video
      description: Ingest a video from a source or file.
      x-client-description:
        default: |
          To upload a video to the videoId you created. You can only upload your video to the videoId once.

          We offer 2 types of upload: 
          * Regular upload 
          * Progressive upload
          The latter allows you to split a video source into X chunks and send those chunks independently (concurrently or sequentially). The 2 main goals for our users are to
            * allow the upload of video sources > 200 MiB (200 MiB = the max. allowed file size for regular upload)
            * allow to send a video source "progressively", i.e., before before knowing the total size of the video.
            Once all chunks have been sent, they are reaggregated to one source file. The video source is considered as "completely sent" when the "last" chunk is sent (i.e., the chunk that "completes" the upload).
      operationId: POST_videos-videoId-source
      parameters:
        - name: videoId
          in: path
          description: Enter the videoId you want to use to upload your video.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        - name: Content-Range
          in: header
          required: false
          style: simple
          explode: false
          schema:
            pattern: '/(?:bytes (?<from>\d+)-(?<to>\d+)|part (?<part>\d+))\/(?<total>\d+|\*)/'
            type: string
          example: bytes 209715200-419430399/524288000 OR part 2/3
          x-client-ignore: true
          description: '`part <part>/<total_parts>` ; `bytes <from_byte>-<to_byte>/<total_bytes>`'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-upload-payload'
      responses:
        '201':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Created
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    title: Maths video
                    description: An amazing video explaining the string theory.
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl45KFKdlddgk654dspkze
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    publishedAt: '2024-07-14T23:36:07+00:00'
                    discarded: false
                    discardedAt: null
                    deletesAt: null
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: '<iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>'
                      player: 'https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27'
                      hls: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8'
                      thumbnail: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg'
                      mp4: 'https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4'
        '400':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/reference/video-source-already-uploaded'
                    title: The source of the video is already uploaded.
                    name: file
                    status: 400
                    problems:
                      - type: 'https://docs.api.video/reference/video-source-already-uploaded'
                        title: The source of the video is already uploaded.
                        name: file
                      - type: 'https://docs.api.video/reference/video-source-already-uploaded'
                        title: The video xxxx has already been uploaded.
                        name: video
                      - type: 'https://docs.api.video/reference/uploaded-file-no-file'
                        title: There is no uploaded file in the request.
                        name: file
                      - type: 'https://docs.api.video/reference/uploaded-file-multiple-files'
                        title: There is more than one uploaded file in the request.
                        name: file
        '404':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/reference/resource-not-found'
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
        '429':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/too-many-requests'
              examples:
                Too many requests:
                  value:
                    type: 'https://docs.api.video/reference/too-many-requests'
                    title: Too many requests.
                    status: 429
      security:
        - apiKey: []
      x-client-action: upload
      x-client-chunk-upload: true
      x-doctave:
        explorer-enabled: false
        code-samples:
          - language: go
            code: |
              // First install the go client with "go get github.com/apivideo/api.video-go-client"
              // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#upload

              package main

              import (
                  "context"
                  "fmt"
                  "os"
                  apivideosdk "github.com/apivideo/api.video-go-client"
              )

              func main() {
                  client := apivideosdk.ClientBuilder("YOUR_API_KEY").Build()
                  // if you rather like to use the sandbox environment:
                  // client := apivideosdk.SandboxClientBuilder("YOUR_SANDBOX_API_KEY").Build()

                    videoId := "vi4k0jvEUuaTdRAEjQ4Jfrgz" 
                  // string | Enter the videoId you want to use to upload your video.
                    file := os.NewFile(1234, "some_file") 
                  // *os.File | The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.
                  
                  
                    res, err := client.Videos.UploadFile(videoId, file)
                  
                    // you can also use a Reader instead of a File:
                    // client.Videos.Upload(videoId, fileName, fileReader, fileSize)
                  
                    if err != nil {
                        fmt.Fprintf(os.Stderr, "Error when calling `Videos.Upload``: %v\
              ", err)
                    }
                    // response from `Upload`: Video
                    fmt.Fprintf(os.Stdout, "Response from `Videos.Upload`: %v\
              ", res)
                  }
                    }
          - language: node
            code: |-
              // First install the "@api.video/nodejs-client" npm package
              // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#upload

              const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" });

              const videoId = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // Enter the videoId you want to use to upload your video.
              const file = './my-video.mp4'; // The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.
                    
              const video = await client.videos.upload(videoId, file);

              // if needed you can define an upload progress listener:
              const video2 = await client.videos.upload(videoId, file, (event) => {
                console.log("uploadedBytes: " + event.uploadedBytes);
                console.log("totalBytes: " + event.totalBytes);
                console.log("chunksCount: " + event.chunksCount);
                console.log("currentChunk: " + event.currentChunk);
                console.log("currentChunkTotalBytes: " + event.currentChunkTotalBytes);
                console.log("currentChunkUploadedBytes: " + event.currentChunkUploadedBytes);
              });
          - language: php
            code: |-
              <?php
              // First install the api client: "composer require api-video/php-api-client"
              // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/VideosApi.md#upload

              require __DIR__ . '/vendor/autoload.php';

              $client = new \ApiVideo\Client\Client(
                  'https://ws.api.video',
                  'YOUR_API_KEY',
                  new \Symfony\Component\HttpClient\Psr18Client()
              );

              // create a new video & upload a video file
              $myVideo = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())->setTitle('Uploaded video'));
              $client->videos()->upload($myVideo->getVideoId(), new SplFileObject(__DIR__ . '/558k.mp4'));

              // create a new video & upload a video file using progressive upload (the file is uploaded by parts)
              $myVideo2 = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())->setTitle('Uploaded video (progressive upload)'));

              $progressiveSession = $client->videos()->createUploadProgressiveSession($myVideo2->getVideoId());

              $progressiveSession->uploadPart(new SplFileObject(__DIR__ . '/10m.mp4.part.a'));
              $progressiveSession->uploadPart(new SplFileObject(__DIR__ . '/10m.mp4.part.b'));

              $progressiveSession->uploadLastPart(new SplFileObject(__DIR__ . '/10m.mp4.part.c')); 
          - language: python
            code: |
              # First install the api client with "pip install api.video"
              # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#upload

              import apivideo
              from apivideo.api import videos_api
              from apivideo.model.bad_request import BadRequest
              from apivideo.model.not_found import NotFound
              from apivideo.model.video import Video
              from apivideo.configuration import Configuration
              from pprint import pprint

              # Enter a context with an instance of the API client
              # When uploading a file you can change the chunk size (in octet)
              configuration = Configuration(chunk_size=10 * 1024 * 1024)
              with apivideo.AuthenticatedApiClient(__API_KEY__, configuration=configuration) as api_client:
                  # Create an instance of the API class
                  api_instance = videos_api.VideosApi(api_client)
                  video_id = "vi4k0jvEUuaTdRAEjQ4Jfrgz" # str | Enter the videoId you want to use to upload your video.
                  file = open('/path/to/file', 'rb') # file_type | The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.

                  # example passing only required values which don't have defaults set
                  try:
                      # Upload a video
                      api_response = api_instance.upload(video_id, file)
                      pprint(api_response)
                  except apivideo.ApiException as e:
                      print("Exception when calling VideosApi->upload: %s\n" % e)
          - language: java
            code: |
              // First add the "video.api:java-api-client" maven dependency to your project
              // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/VideosApi.md#upload

              import video.api.client.ApiVideoClient;
              import video.api.client.api.ApiException;
              import video.api.client.api.models.*;
              import video.api.client.api.clients.VideosApi;
              import java.util.*;

              public class Example {
                public static void main(String[] args) {
                  ApiVideoClient client = new ApiVideoClient("YOUR_API_KEY");
                  // if you rather like to use the sandbox environment:
                  // ApiVideoClient client = new ApiVideoClient("YOUR_SANDBOX_API_KEY", ApiVideoClient.Environment.SANDBOX);

                  VideosApi apiInstance = client.videos();

                  String videoId = "vi4k0jvEUuaTdRAEjQ4Jfrgz"; // Enter the videoId you want to use to upload your video.
                  File file = new File("/path/to/file"); // The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.

                  try {
                    Video result = apiInstance.upload(videoId, file);
                    System.out.println(result);
                  } catch (ApiException e) {
                    System.err.println("Exception when calling VideosApi#upload");
                    System.err.println("Status code: " + e.getCode());
                    System.err.println("Reason: " + e.getMessage());
                    System.err.println("Response headers: " + e.getResponseHeaders());
                    e.printStackTrace();
                  }
                }
              }
          - language: android
            code: |
              // First add the "video.api:android-api-client" maven dependency to your project
              // Documentation: https://github.com/apivideo/api.video-android-client/blob/main/docs/VideosApi.md#upload

              VideosApiStore.initialize("YOUR_API_KEY")
              // if you rather like to use the sandbox environment:
              // VideosApiStore.initialize("YOUR_SANDBOX_API_KEY", Environment.SANDBOX)

              val workManager = WorkManager.getInstance(context) // WorkManager comes from package "androidx.work:work-runtime"

              val videoId = "vi4k0jvEUuaTdRAEjQ4Jfrgz" // The videoId you want to use to upload your video.
              val file = File("/path/to/file") // The path to the video you want to upload.

              workManager.upload(videoId, file) // Dispatch the upload with the WorkManager
          - language: csharp
            code: |
              // First add the "ApiVideo" NuGet package to your project
              // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/VideosApi.md#upload

              using System.Diagnostics;
              using ApiVideo.Client;

              namespace Example
              {
                  public class uploadExample
                  {
                      public static void Main()
                      {
                          var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                          var apiKey = "YOUR_API_KEY";

                          var apiInstance = new ApiVideoClient(apiKey,basePath);

                          var videoId = vi4k0jvEUuaTdRAEjQ4Jfrgz;  // string | Enter the videoId you want to use to upload your video.
                          var file = BINARY_DATA_HERE;  // System.IO.Stream | The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.
                          var apiVideosInstance = apiInstance.Videos();
                          try
                          {
                              // Upload a video
                              Video result = apiVideosInstance.upload(videoId, file);
                              Debug.WriteLine(result);
                          }
                          catch (ApiException  e)
                          {
                              Debug.Print("Exception when calling VideosApi.upload: " + e.Message );
                              Debug.Print("Status Code: "+ e.ErrorCode);
                              Debug.Print(e.StackTrace);
                          }
                      }
                  }
              }
          - language: swift
            code: |
              // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
              // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/VideosAPI.md#upload
  /watermarks:
    post:
      tags:
        - Watermarks
      summary: Upload a watermark
      description: Create a new watermark by uploading a `JPG` or a `PNG` image.
      operationId: POST_watermark
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/watermark-upload-payload'
      responses:
        '200':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/watermark'
              examples:
                response:
                  value:
                    watermarkId: watermark_1BWr2L5MTQwxGkuxKjzh6i
                    createdAt: '2020-03-03T12:52:03+00:00'
        '400':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    status: 400
                    type: 'https://docs.api.video/reference/uploaded-file-extension-invalid'
                    title: 'Only [jpeg, jpg, JPG, JPEG, png, PNG] extensions are supported.'
                    name: file
        '429':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/too-many-requests'
              examples:
                Too many requests:
                  value:
                    type: 'https://docs.api.video/reference/too-many-requests'
                    title: Too many requests.
                    status: 429
      security:
        - apiKey: []
      x-client-action: upload
      x-doctave:
        code-samples:
          - language: go
            code: |
              // First install the go client with "go get github.com/apivideo/api.video-go-client"
              // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/WatermarksApi.md#upload

              package main

              import (
                  "context"
                  "fmt"
                  "os"
                  apivideosdk "github.com/apivideo/api.video-go-client"
              )

              func main() {
                  client := apivideosdk.ClientBuilder("YOUR_API_KEY").Build()
                  // if you rather like to use the sandbox environment:
                  // client := apivideosdk.SandboxClientBuilder("YOUR_SANDBOX_API_KEY").Build()

                  file, _ := os.Open("./watermark.jpg")
                  
                  res, err := client.Watermarks.UploadFile(file)

                  if err != nil {
                      fmt.Fprintf(os.Stderr, "Error when calling `Watermarks.UploadFile``: %v", err)
                  }
                  // response from `UploadFile`: Watermark
                  fmt.Fprintf(os.Stdout, "Response from `Watermarks.UploadFile`: %v", res)
              }
          - language: node
            code: |
              // First install the "@api.video/nodejs-client" npm package
              // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/WatermarksApi.md#upload

              const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" });

              // Upload a watermark
              const watermark = await client.watermarks.upload('test/data/test.jpg');

              // create a video with watermark
              const watermarkVideo = await client.videos.create({
                title: 'Nodejs - watermark',
                watermark: {
                  id: watermark.watermarkId,
                  top: '0px',
                  left: '0px',
                  width: '100px',
                  height: '100px',
                },
              });
          - language: php
            code: |
              <?php
              // First install the api client: "composer require api-video/php-api-client"
              // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/WatermarksApi.md#upload

              require __DIR__ . '/vendor/autoload.php';

              $client = new \ApiVideo\Client\Client(
                  'https://ws.api.video',
                  'YOUR_API_KEY',
                  new \Symfony\Component\HttpClient\Psr18Client()
              );

              // upload the watermark
              $watermark = $client->watermarks()->upload(new SplFileObject(__DIR__ . '/watermark.png'));

              // create a new video with the watermark
              $video = $client->videos()->create((new VideoCreationPayload())
                      ->setWatermark((new VideoWatermark())
                              ->setId($watermark->getWatermarkId())
                              ->setTop("0px")
                              ->setLeft("0px")
                              ->setWidth("100px")
                              ->setHeight("100px"))
                      ->setTitle("Test PHP watermark")
              );

              // upload the video
              $client->videos()->upload($video->getVideoId(), new SplFileObject(__DIR__ . '/558k.mp4')); 
          - language: python
            code: |
              # First install the api client with "pip install api.video"
              # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/WatermarksApi.md#upload

              import apivideo
              from apivideo.api import videos_api
              from apivideo.model.bad_request import BadRequest
              from apivideo.model.not_found import NotFound
              from pprint import pprint

              # Enter a context with an instance of the API client
              with apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:
                  # Create an instance of the API class
                  api_instance = videos_api.WatermarksApi(api_client)
                  file = open('/path/to/file', 'rb') # file_type | The watermark image.

                  # example passing only required values which don't have defaults set
                  try:
                      # Upload a watermark
                      api_response = api_instance.upload(file)
                      pprint(api_response)
                  except apivideo.ApiException as e:
                      print("Exception when calling WatermarksApi->upload: %s\
              " % e)
          - language: java
            code: |
              // First add the "video.api:java-api-client" maven dependency to your project
              // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/WatermarksApi.md#upload

              import video.api.client.ApiVideoClient;
              import video.api.client.api.ApiException;
              import video.api.client.api.models.*;
              import video.api.client.api.clients.WatermarksApi;
              import java.util.*;

              public class Example {
               public static void main(String[] args) {
                 ApiVideoClient client = new ApiVideoClient("YOUR_API_KEY");
                 // if you rather like to use the sandbox environment:
                 // ApiVideoClient client = new ApiVideoClient("YOUR_SANDBOX_API_KEY", ApiVideoClient.Environment.SANDBOX);

                 WatermarksApi watermarkApi = apiClient.watermarks();

                 File file = new File("/path/to/file"); // The watermark image.

                 try {
                   Watermark result = watermarkApi.upload(file);
                   System.out.println(result);
                 } catch (ApiException e) {
                   System.err.println("Exception when calling WatermarksApi#upload");
                   System.err.println("Status code: " + e.getCode());
                   System.err.println("Reason: " + e.getMessage());
                   System.err.println("Response headers: " + e.getResponseHeaders());
                   e.printStackTrace();
                 }
               }
              }
          - language: csharp
            code: |
              // First add the "ApiVideo" NuGet package to your project
              // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/WatermarksApi.md#upload

              using System.Diagnostics;
              using ApiVideo.Client;

              namespace Example
              {
                  public class uploadWatermarkExample
                  {
                      public static void Main()
                      {
                          var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                          var apiKey = "YOUR_API_KEY";

                          var apiInstance = new ApiVideoClient(apiKey,basePath);

                          var file = File.OpenRead("watermark.jpg");  // The watermark image.
                          var apiWatermarksInstance = apiInstance.Watermarks();

                          try
                          {
                              // Upload a watermark
                              Video result = apiWatermarksInstance.upload(videoId, file);
                              Debug.WriteLine(result);
                          }
                          catch (ApiException  e)
                          {
                              Debug.Print("Exception when calling WatermarksApi.upload: " + e.Message );
                              Debug.Print("Status Code: "+ e.ErrorCode);
                              Debug.Print(e.StackTrace);
                          }
                      }
                  }
              }
          - language: swift
            code: |
              // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
              // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/WatermarksAPI.md#upload
    get:
      tags:
        - Watermarks
      summary: List all watermarks
      description: List all watermarks associated with your workspace.
      operationId: LIST-watermarks
      x-client-action: list
      parameters:
        - name: sortBy
          in: query
          description: 'Allowed: createdAt. You can search by the time watermark were created at.'
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: createdAt
        - name: sortOrder
          in: query
          description: 'Allowed: asc, desc. asc is ascending and sorts from A to Z. desc is descending and sorts from Z to A.'
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: asc
        - $ref: '#/components/parameters/current-page'
        - $ref: '#/components/parameters/page-size'
      responses:
        '200':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/watermarks-list-response'
              examples:
                response:
                  value:
                    data:
                      - watermarkId: watermark_1BWr2L5MTQwxGkuxKjzh6i
                        createdAt: '2019-12-16T08:25:51+00:00'
                      - watermarkId: watermark_3BWC2L5MTQwxGkuxKjzh7g
                        createdAt: '2019-12-16T08:25:51+00:00'
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 11
                      currentPageItems: 11
                      links:
                        - rel: self
                          uri: 'https://ws.api.video/watermarks?currentPage=1'
                        - rel: first
                          uri: 'https://ws.api.video/watermarks?currentPage=1'
                        - rel: last
                          uri: 'https://ws.api.video/watermarks?currentPage=1'
        '400':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
              examples:
                response:
                  value:
                    title: This parameter is out of the allowed range of values.
                    name: page
                    status: 400
                    range:
                      min: 1
                    problems:
                      - title: This parameter is out of the allowed range of values.
                        name: page
                        range:
                          min: 1
                      - title: This parameter is out of the allowed range of values.
                        name: pageSize
                        range:
                          min: 10
                          max: 100
        '429':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/too-many-requests'
              examples:
                Too many requests:
                  value:
                    type: 'https://docs.api.video/reference/too-many-requests'
                    title: Too many requests.
                    status: 429
      security:
        - apiKey: []
      x-group-parameters: true
      x-client-paginated: true
      x-doctave:
        code-samples:
          - language: node
            code: |
              // First install the "@api.video/nodejs-client" npm package
              // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/WatermarksApi.md#list

              const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" }); 

              // retrieve the first page of all watermarks
              const watermarks = await client.watermarks.list({});

              // retrieve the 5 first watermarks, ordered by creation date
              const watermarks2 = await client.watermarks.list({});
              createdAt
          - language: csharp
            code: |
              // First add the "ApiVideo" NuGet package to your project
              // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/WatermarksApi.md#list
          - language: go
            code: |
              // First install the go client with "go get github.com/apivideo/api.video-go-client"
              // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/WatermarksApi.md#list
          - language: java
            code: |
              // First add the "video.api:java-api-client" maven dependency to your project
              // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/WatermarksApi.md#list
          - language: php
            code: |-
              <?php
              // First install the api client: "composer require api-video/php-api-client"
              // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/WatermarksApi.md#list

              require __DIR__ . '/vendor/autoload.php';

              $client = new \ApiVideo\Client\Client(
                  'https://ws.api.video',
                  'YOUR_API_KEY',
                  new \Symfony\Component\HttpClient\Psr18Client()
              ); 

              // retrieve the first page of all watermarks
              $watermarks =  client->watermarks()->list();

              // retrieve the 5 first watermarks, ordered by creation date
              $watermarks2 = $client->watermarks()->list(array(
                  'pageSize' => 5,
                  'sortBy' => 'createdAt',
                  'sortOrder' => 'asc'
              )); 
          - language: python
            code: |
              # First install the api client with "pip install api.video"
              # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/WatermarksApi.md#list
          - language: swift
            code: |
              // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
              // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/WatermarksAPI.md#list
  '/watermarks/{watermarkId}':
    delete:
      tags:
        - Watermarks
      summary: Delete a watermark
      description: Delete a watermark.
      operationId: DELETE_watermark
      parameters:
        - name: watermarkId
          in: path
          description: The watermark ID for the watermark you want to delete.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: watermark_1BWr2L5MTQwxGkuxKjzh6i
      responses:
        '204':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: No Content
        '404':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
              examples:
                response:
                  value:
                    type: 'https://docs.api.video/reference/resource-not-found'
                    title: The requested resource was not found.
                    name: watermarkId
                    status: 404
        '429':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/too-many-requests'
              examples:
                Too many requests:
                  value:
                    type: 'https://docs.api.video/reference/too-many-requests'
                    title: Too many requests.
                    status: 429
      security:
        - apiKey: []
      x-client-action: delete
      x-doctave:
        code-samples:
          - language: node
            code: |-
              // First install the "@api.video/nodejs-client" npm package
              // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/WatermarksApi.md#delete

              const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" }); 

              const watermarkId = 'watermark_1Bji68oeAAwR44dAb5ZhML'; // The watermark ID for the watermark you want to delete.

              client.watermarks.delete(watermarkId);
          - language: csharp
            code: |
              // First add the "ApiVideo" NuGet package to your project
              // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/WatermarksApi.md#delete
          - language: go
            code: |
              // First install the go client with "go get github.com/apivideo/api.video-go-client"
              // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/WatermarksApi.md#delete
          - language: java
            code: |
              // First add the "video.api:java-api-client" maven dependency to your project
              // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/WatermarksApi.md#delete
          - language: php
            code: |-
              <?php
              // First install the api client: "composer require api-video/php-api-client"
              // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/WatermarksApi.md#list

              require __DIR__ . '/vendor/autoload.php';

              $client = new \ApiVideo\Client\Client(
                  'https://ws.api.video',
                  'YOUR_API_KEY',
                  new \Symfony\Component\HttpClient\Psr18Client()
              ); 

              $watermarkId = 'watermark_1Bji68oeAAwR44dAb5ZhML'; // The watermark ID for the watermark you want to delete.

              $client->watermarks->delete(watermarkId);
          - language: python
            code: |
              # First install the api client with "pip install api.video"
              # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/WatermarksApi.md#delete
          - language: swift
            code: |
              // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
              // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/WatermarksAPI.md#delete
  '/videos/{videoId}/thumbnail':
    post:
      tags:
        - Videos
      summary: Upload a thumbnail
      description: Upload a thumbnail for a certain video.
      x-client-description:
        default: |-
          The thumbnail is the poster that appears in the player window before video playback begins.

          This endpoint allows you to upload an image for the thumbnail.

          To select a still frame from the video using a time stamp, use the [dedicated method](#pickThumbnail) to pick a time in the video.

          Note: There may be a short delay before the new thumbnail is delivered to our CDN.
      operationId: POST_videos-videoId-thumbnail
      parameters:
        - name: videoId
          in: path
          description: 'Unique identifier of the chosen video '
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-thumbnail-upload-payload'
      responses:
        '200':
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The request limit per minute.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of available requests left for the current time window.
            X-RateLimit-Retry-After:
              schema:
                type: integer
              description: The number of seconds left until the current rate limit window resets.
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                      - maths
                      - string theory
                      - video
                    metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                    createdAt: '2020-03-03T12:52:03+00:00'
                    publishedAt: '2020-07-14T23:36:07+00:00'
                    discarded: false
                    discardedAt: null
                    deletesAt: null
                    source:
[...]
