.content-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.dark .content-card {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  background: var(--card-bg-color-dark);
  transition: background-color 0.3s;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1),
    0px 34px 24px -20px rgba(0, 0, 0, 0.04);
}

.dark .content-card:hover {
  background: rgba(47, 47, 61, 0.2) !important;
}

.content-card {
  padding: 24px !important;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 34px 24px -20px rgba(65, 79, 110, 0.04),
    0px 20px 50px 0 rgba(59, 43, 92, 0.1);
}

.content-card p {
  padding: 0 !important;
  margin: 0 !important;
}

.content-card > p > img {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #e9dded;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px !important;
}

.dark .content-card p.content-card-label {
  color: white;
  opacity: 0.7;
}

.content-card p.content-card-label {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #202d47;
  margin-bottom: 16px !important;
}

.dark .content-card p.content-card-description {
  color: white !important;
  opacity: 0.5 !important;
}

.content-card p.content-card-description {
  padding-bottom: 32px !important;
  opacity: 0.6;
  font-size: 14px;
  text-align: left;
  color: #414f6e;
  flex: 1;
}

.content-card-link {
  font-size: 12px !important;
  font-weight: 700 !important;
  text-align: left;
  color: #642180 !important;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none !important;
}

.dark .content-card-link {
  color: rgba(255, 255, 255, 0.7) !important;
}
