![](https://raw.githubusercontent.com/apivideo/API_OAS_file/master/apivideo_banner.png)

# {{{projectName}}} Python api client

{{#appDescriptionWithNewLines}}
{{{appDescriptionWithNewLines}}}
{{/appDescriptionWithNewLines}}

## Warning

This API client is still in beta. Please feel free to report any issue you may encounter.

## Requirements.

Python >= 3.6

## Installation

```sh
pip install api.video
```

## Examples

### Automatic authentication

list all videos:

```python
import {{packageName}}
from {{packageName}}.apis import VideosApi

api_key = "__API_KEY__"

with {{packageName}}.AuthenticatedApiClient(api_key) as client:
    # if you rather like to use the sandbox environment:
    # with {{packageName}}.AuthenticatedApiClient(api_key, production=False) as client:

    videos_api = VideosApi(client)
    videos = videos_api.list()
```

In this context the client will keep its authentication updated.

### Manual authentication

If there is an issue, like you think a refresh token may have been exposed, you can manually retrieve a new one. Otherwise, authentication is handled for you.
When you retrieve a new refresh token, the old one becomes invalid. Here is the code, where you retrieve a list of videos and then refresh your token:

```python
import apivideo
from apivideo.apis import VideosApi
from {{packageName}}.exceptions import ApiAuthException

api_key = "__API_KEY__"

client = {{packageName}}.AuthenticatedApiClient(api_key)
# if you rather like to use the sandbox environment:
# client = {{packageName}}.AuthenticatedApiClient(api_key, production=False)
client.connect()
videos_api = VideosApi(client)
videos = videos_api.list()

try:
    client.refresh_token()
except ApiAuthException:
    print("cannot refresh token !")

...
```

## Documentation for API Endpoints

All URIs are relative to *{{basePath}}*

{{#apiInfo}}
{{#apis}}
{{^x-client-hidden}}

### {{classname}} API endpoints


Method | HTTP request | Description
------------- | ------------- | -------------
{{#operations}}{{#operation}}{{#isDeprecated}}**(deprecated)** {{/isDeprecated}}[**{{operationId}}**]({{packageUrl}}/blob/master/{{apiDocPath}}{{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}
{{/x-client-hidden}}{{/apis}}{{/apiInfo}}


## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{packageUrl}}/blob/master/{{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}


## Have you gotten use from this API client?

Please take a moment to leave a star on the client ⭐

This helps other users to find the clients and also helps us understand which clients are most popular. Thank you!
