package video.api.client;

import {{invokerPackage}}.*;
import {{apiPackage}}.*;

public class ApiVideoClient {
    ApiInvoker apiInvoker = ApiInvoker.getInstance();
{{# apiInfo.apis }}{{^x-client-hidden}}
    private final {{classFilename}} {{classVarName}};{{/x-client-hidden}}{{/ apiInfo.apis }}


{{# apiInfo.apis }}
    {{#-first}}
    public enum Environment {
        PRODUCTION("{{vendorExtensions.x-client-base-paths.production}}"),
        SANDBOX("{{vendorExtensions.x-client-base-paths.sandbox}}");

        private final String basePath;

        Environment(String basePath) {
            this.basePath = basePath;
        }
    }
    {{/-first}}
{{/apiInfo.apis}}

    /**
     * Build an instance that targets the production environment using a Volley client
     */
    public ApiVideoClient() {
        this(null, Environment.PRODUCTION);
    }

    /**
     * Build an instance that targets the production environment using a Volley client
     * @param apiKey the api key to use to authenticate
     */
    public ApiVideoClient(String apiKey) {
        this(apiKey, Environment.PRODUCTION);
    }

    /**
     * Build an instance using a Volley client
     * @param environment the target environment
     */
    public ApiVideoClient(Environment environment) {
        this(null, environment);
    }

    /**
     * Build an instance using a Volley client
     * @param apiKey the api key to use to authenticate
     * @param environment the target environment
     */
    public ApiVideoClient(String apiKey, Environment environment) {
        apiInvoker.setAuthBasePath(environment.basePath);
        apiInvoker.setApiKey(apiKey);
        
{{# apiInfo.apis }}{{^x-client-hidden}}
        this.{{classVarName}} = new {{classFilename}}();
        this.{{classVarName}}.setBasePath(environment.basePath);{{/x-client-hidden}}{{/ apiInfo.apis }}
    }

{{# apiInfo.apis }}{{^x-client-hidden}}
    /**
    * Get an {{classFilename}} instance
    * @return {{classFilename}}
    */
    public {{classFilename}} {{classVarName}}() {
        return this.{{classVarName}};
    }
{{/x-client-hidden}}{{/ apiInfo.apis }}

    /**
    * Get upload chunk size
    * @return upload chunk size
    */
    public long getUploadChunkSize() {
        return apiInvoker.getUploadChunkSize();
    }

    /**
    * Set upload chunk size
    * @param uploadChunkSize upload chunk size
    */
    public void setUploadChunkSize(long uploadChunkSize) {
       apiInvoker.setUploadChunkSize(uploadChunkSize);
    }

    /**
    * Get connection timeout
    * @return connection timeout in seconds
    */
    public long getConnectionTimeout() {
        return apiInvoker.getConnectionTimeout();
    }

    /**
    * Set connection timeout
    * @param connectionTimeout connection timeout in second
    */
    public void setConnectionTimeout(int connectionTimeout) {
       apiInvoker.setConnectionTimeout(connectionTimeout);
    }
}
