<!--
{{#appName}}
{{{appName}}}

{{/appName}}
{{#appDescription}}
{{{appDescription}}}

{{/appDescription}}
{{#version}}The version of the OpenAPI document: {{version}}{{/version}}
{{#infoEmail}}Contact: {{{infoEmail}}}{{/infoEmail}}
-->
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    {{#netStandard}}<MinimumVisualStudioVersion>14.0</MinimumVisualStudioVersion>{{/netStandard}}
    <OutputType>Library</OutputType>
    <PackOnBuild>true</PackOnBuild>
    <PackageId>{{packageName}}</PackageId>
    <PackageVersion>{{artifactVersion}}</PackageVersion>
    <Authors>{{developerOrganization}}</Authors>
    <Description>{{artifactDescription}}</Description>
    <PackageLicenseExpression>MIT</PackageLicenseExpression>
    <PackageProjectUrl>{{artifactUrl}}</PackageProjectUrl>
    <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
    <AssemblyTitle>api.video API client</AssemblyTitle>
    <Company>api.video</Company>
    <Product>ApiVideoApiClient</Product>
    <Copyright>No Copyright</Copyright>
    <AssemblyVersion>1.0.0</AssemblyVersion>
    <FileVersion>1.0.0</FileVersion>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DocumentationFile>bin\Debug\{{packageName}}.xml</DocumentationFile>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DocumentationFile>bin\Release\{{packageName}}.xml</DocumentationFile>
  </PropertyGroup>
  <PropertyGroup>
    <EnableDefaultItems>true</EnableDefaultItems>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.CSharp" Version="4.7.0" />
    <PackageReference Include="RestSharp" Version="111.2.0" />
      <PackageReference Include="JsonSubTypes" Version="1.8.0" />
      <PackageReference Include="NuGet.Build.Tasks.Pack">
        <Version>5.9.1</Version>
      </PackageReference>
    <PackageReference Include="System.ComponentModel.Annotations" Version="5.0.0" />
    <PackageReference Include="System.Data.DataSetExtensions" Version="4.5.0" />
    <PackageReference Include="Newtonsoft.Json" Version="13.0.3" />
  </ItemGroup>
</Project>

