changelog:
  - 1.2.5 (2022-04-21):
      - Fix `video.publishedAt` type
  - 1.2.4 (2022-03-21):
    - Add `ingest.receivedParts` attribute in GET /videos/{video_id}/status
  - 1.2.3 (2022-03-17):
    - Fix metadata query param in GET /videos
  - 1.2.2 (2022-03-11):
    - Add Origin identification headers
  - 1.2.1 (2022-01-24):
    - Add applicationName parameter (to allow user agent extension)
  - 1.2.0 (2022-01-07):
    - Add watermark endpoints
    - Add video clips
    - Fix tags[] query parameter format of GET /videos
    - Correctly distinguish between "undefined", "defined" and "null" values if the playerId parameter of PATCH /videos/{videoId}
  - 1.1.0 (2021-12-06):
    - Add `name` attribute in player themes
  - 1.0.0 (2021-11-15):
    - Add support of `progressive uploads`

licenseName: MIT
sourceFolder: src/
groupId: video.api
artifactDescription: api.video csharp API client
artifactId: csharp-api-client
developerName: api.video ecosystem team
developerOrganization: api.video
developerOrganizationUrl: https://api.video
developerEmail: ecosystem@api.video
packageName: ApiVideo
artifactUrl: https://github.com/apivideo/api.video-csharp-client
gitRepoId: api.video-csharp-client
targetFramework: v4.5.2
defaultChunkSize: 50 * 1024 * 1024
minChunkSize: 5 * 1024 * 1024
maxChunkSize: 128 * 1024 * 1024

files:
  page.mustache:
    folder: src/ApiVideo/Model
    destinationFilename: Page.cs
  OptionalNullable.mustache:
    folder: src/ApiVideo/Model
    destinationFilename: OptionalNullable.cs
  pagination.md.mustache:
    folder: docs
    destinationFilename: Pagination.md
  ApiVideoClient.mustache:
    folder: src/ApiVideo/
    destinationFilename: ApiVideo.cs
  AuthenticationManager.mustache:
    folder: src/ApiVideo/Client/
    destinationFilename: AuthenticationManager.cs
  EmptyArrayFixTypeConverter.mustache:
    folder: src/ApiVideo/Client/
    destinationFilename: EmptyArrayFixTypeConverter.cs
  NullableStringTypeConverter.mustache:
    folder: src/ApiVideo/Client/
    destinationFilename: NullableStringTypeConverter.cs
  IUploadProgressListener.mustache:
    folder: src/ApiVideo/Model
    destinationFilename: IUploadProgressListener.cs
  IUploadPartProgressListener.mustache:
    folder: src/ApiVideo/Model
    destinationFilename: IUploadPartProgressListener.cs
  post-generate.sh:
    destinationFilename: post-generate.sh