//  FileReader.swift
//

import Foundation


protocol ChunksReader {
    var remainingNumberOfChunks: Int { get }
    var fileSize: Int64? { get }
    func getTotalNumberOfChunks() -> Int?
    func getNextChunk() -> (index: Int, chunk: FileChunkInputStream)
}

/**
 * Represents one file split in multiple chunks
 */
class FileChunksReader: ChunksReader {
    private let totalNumberOfChunks: Int
    let fileSize: Int64?
    private var chunks: [FileChunkInputStream]
    private var index = 1

    public init(fileURL: URL) throws {
        let fileChunkInputStreamsBuilder = try FileChunkInputStreamsBuilder(file: fileURL)
        self.fileSize = try fileURL.fileSize
        self.chunks = fileChunkInputStreamsBuilder.build()
        self.totalNumberOfChunks = self.chunks.count
    }

    var remainingNumberOfChunks: Int {
        return chunks.count
    }

    func getTotalNumberOfChunks() -> Int? {
        return totalNumberOfChunks
    }
    
    func getNextChunk() -> (index: Int, chunk: FileChunkInputStream) {
        let tuple = (index, chunks.removeFirst())
        index += 1
        return tuple
    }
}

