@font-face {
  font-family: Inter;
  src: url("/_assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: JetBrains Mono;
  src: url("/_assets/fonts/JetBrainsMono[wght].ttf");
}

:root {
  --card-bg-color-dark: #09070d30;
}


.callout {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-left: solid 2px;
  border-radius: 0px 8px 8px 0px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.callout.callout-cta {
  border-color: #fa5b30;
  background: rgba(250, 91, 48, 0.05);
}

.callout.callout-info {
  border-color: #0ea5e9;
  background: rgb(125, 211, 252, 0.2);
}

.callout.callout-success {
  border-color: #10b981;
  background: rgb(187, 247, 208, 0.2);
}

.callout.callout-error {
  border-color: #f43f5e;
  background: rgb(254, 205, 211, 0.2);
}

.callout.callout-warning {
  border-color: #f59e0b;
  background: rgb(253, 230, 138, 0.2);
}

.custom-api-video-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.custom-api-video-button:hover,
.custom-api-video-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.custom-api-video-button:hover {
  transform: translateY(-1px);
}

.custom-api-video-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.codetabs.outer {
  max-width: 100%;
  overflow: auto;
  width: 100%;
  background-color: var(--doctave-theme-content-bg-main);
  border-radius: 7px;
  padding: 5px;
}

.codetabs.inner {
  display: grid;
  grid-auto-columns: 1fr;
}

.codetabs.inner label {
  text-align: center;
  grid-row: 1;
  display: block;
  padding: 0px 10px 0px 10px;
  margin-bottom: 5px;
  opacity: 70%;
}

.codetabs.inner label > p {
  line-height: 0;
  font-size: 12px;
}

.codetabs.inner label:hover {
  border-bottom: 2px solid var(--doctave-theme-content-bg-secondary);
  cursor: pointer;
}

.dark .codetabs.inner label:hover {
  border-bottom: 2px solid var(--doctave-theme-content-bg-secondary-dark);
}

.codetabs.inner input:checked + label {
  opacity: 100%;
  border-bottom: 2px solid var(--doctave-theme-main) !important;
}

.codetabs.inner input {
  display: none;
}

.codetabs.inner input:checked + label + pre {
  display: block;
  grid-column-start: span 12;
}

.codetabs.inner pre {
  grid-row: 2;
  display: none;
  margin: 0 !important;
}

/* ------------ hagrid  ------------ */

.hagrid {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 0fr));
  grid-gap: 2rem;
}


.hagrid p {
  display: none;
}


.hagrid-item {
  color: black !important;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  flex: 40%;
  border: 1px solid var(--doctave-theme-content-bg-secondary);
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dark .hagrid-item {
  border: 0.5px solid rgba(255, 255, 255, 0.20) !important;
  background: var(--card-bg-color-dark) !important;
  transition: background-color 0.3s;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10), 0px 34px 24px -20px rgba(0, 0, 0, 0.04) !important;
}


.dark .hagrid-item:hover {
  background: rgba(47, 47, 61, 0.2) !important;
  border-color: var(--doctave-theme-main);
}

.hagrid-item:hover {
  border-color: var(--doctave-theme-main);
}

.hagrid-item-left {
  padding: 0 20px;
}

.hagrid-item-left img {
  max-height: 2rem;
}

.hagrid-item .hagrid-item-title {
  opacity: 60%;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
}

.hagrid-item-title a {
  color: black !important;
  text-decoration: none !important;
}

.hagrid-item:hover .hagrid-item-title {
  opacity: 80% !important;
}

.hagrid-item-subtitle {
  font-size: 12px;
  opacity: 60%;
}

.hagrid-item:hover .hagrid-item-subtitle {
  opacity: 80%;
}

.hagrid-item-subtitle a {
  color: black !important;
  text-decoration: none !important;
}

.dark .hagrid-item-title a, .dark .hagrid-item-subtitle a {
  color: white !important;
}

.link-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 2rem;
}

.link-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  overflow: hidden;
}

.link-card-header * {
  margin: 0 !important;
  color: black !important;
  box-shadow: 0px 34px 24px -20px rgba(65, 79, 110, 0.04),
    0px 20px 50px 0 rgba(59, 43, 92, 0.1);
}

.link-card-header p {
  font-weight: 200 !important;
}

.link-card-header {
  color: black;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5.5rem;
  padding-bottom: 2rem;
}

.dark .link-card-header * {
  color: white !important;
}

.link-card-header-icon {
  background-color: #e9dded;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.link-card-button {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #642180;
  margin-bottom: 0px;
}

.link-card-body {
  padding: 2rem;
}

.link-card-body p {
  font-size: 14px;
  margin: 0 !important;
}

.link-card-body a {
  display: inline-block;
  border-radius: 4px;
  margin-top: 0.5rem;
  background: rgb(250, 91, 48, 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none !important;
}

.link-card-body a:hover {
  background: rgb(250, 91, 48, 0.3);
}

.quick-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 2rem;
}

.quick-link-table {
  background-color: #fff;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.quick-link-table :hover {
  background-color: #d9dce233;
}

.quick-link-table-item-header {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #202d47;
}

.content-markdown {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;
  padding-left: 80px !important;
  font-family: "Inter" !important;
}

.section-header hr {
  border-top: 1px dashed var(--doctave-theme-content-bg-secondary);
}

.dark .section-header hr {
  border-top: 1px dashed white !important;
  opacity: 0.6 !important;
}

.section-header h3 {
  color: var(--AV_Primary_Blue_06, rgba(65, 79, 110, 0.60)) !important;
  font-family: JetBrains Mono, sans-serif;
  text-transform: uppercase;
  font-size: 16px !important;
  margin-bottom: 24px !important;
}

.section-header h2 {
  font-size: 34px !important;
  line-height: 34px !important;
  font-weight: 500 !important;
}

p {
  font-size: 18px;
}

.dark p {
  color: rgba(255, 255, 255, 0.70);
}