import ApiVideoClient from '../src';
{{# apiInfo.apis }}
    {{^x-client-hidden}}
import {{classFilename}} from '../{{ apiPackage }}/{{classFilename}}';
    {{/x-client-hidden}}
{{/ apiInfo.apis }}

describe('ApiVideoClient', () => {
{{# apiInfo.apis }}
    {{^x-client-hidden}}
    it('should use the {{classFilename}} class', () => {
        const client = new ApiVideoClient({ apiKey: 'test' });
        expect(client.{{classVarName}}).toBeInstanceOf({{classFilename}});
    });
    {{/x-client-hidden}}
{{/ apiInfo.apis }}

  it('should validate the application name value', () => {
    expect(
      () => new ApiVideoClient({ applicationName: 'applicationname' })
    ).toThrow('application version is mandatory when application name is set.');

    expect(
      () =>
        new ApiVideoClient({
          applicationName: 'application name',
          applicationVersion: '1.0.0',
        })
    ).toThrow(
      "Invalid application name value. Allowed characters: A-Z, a-z, 0-9, '-', '_'. Max length: 50."
    );

    expect(
      () =>
        new ApiVideoClient({
          applicationName:
            '012345678901234567890123456789012345678901234567891',
          applicationVersion: '1.0.0',
        })
    ).toThrow(
      "Invalid application name value. Allowed characters: A-Z, a-z, 0-9, '-', '_'. Max length: 50."
    );

    expect(
      () =>
        new ApiVideoClient({
          applicationName: 'my-great-application1',
          applicationVersion: '0.1.1',
        })
    ).not.toThrow();

    expect(() => new ApiVideoClient({ applicationVersion: '1.0.0' })).toThrow(
      'application name is mandatory when application version is set.'
    );

    expect(
      () =>
        new ApiVideoClient({
          applicationName: 'application',
          applicationVersion: '1.1234.0',
        })
    ).toThrow(
      'Invalid application version value. The version should match the xxx[.yyy][.zzz] pattern.'
    );

    expect(
      () =>
        new ApiVideoClient({
          applicationName: 'application',
          applicationVersion: '1.123.0',
        })
    ).not.toThrow();
  });
});

